.slideSnapshot {
    border: 1px solid #BEBEBE;
    position: relative;
}

.slideSnapshot:hover {
    /*box-shadow*/
    
    -webkit-box-shadow: inset 0 0 3px #000;
    -moz-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

.slideSnapshot .remove-icon {
    /* color: #FF7F50; */
    
    display: none;
    position: absolute;
    top: -7px;
    right: -7px;
}

.slideSnapshot:hover .remove-icon {
    display: inline;
}

.slideSnapshot .badge {
    /*transform*/
    
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    position: absolute;
    top: -7px;
    left: -7px;
}

.slideSnapshot.active {
    /*box-shadow*/
    
    -webkit-box-shadow: inset 0 0 0 1px white, 0 0 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 0 1px white, 0 0 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0 1px white, 0 0 6px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #FF7F50;
}

.slideSnapshot.active:hover {
    -webkit-box-shadow: inset 0 0 3px #FF7F50;
    -moz-box-shadow: inset 0 0 3px #FF7F50;
    box-shadow: inset 0 0 3px #FF7F50;
}

.slideSnapshot canvas {
    width: 100%;
    height: 100%;
}