extends ../layout

block head
  link(rel='stylesheet', href="/css/app/etch_extension/spectrum.css", type='text/css')
  link(rel='stylesheet', href='/css/app/etch_extension/etch.css', type='text/css')
  link(rel='stylesheet', href="/css/app/web-fonts.css", type='text/css')
  link(rel='stylesheet', href="/css/app/themes/backgroundClasses.css", type='text/css')

block scripts
  script(data-main='/main', type='text/javascript', src='/js/vendors/require.js')

block content
  #content
  #modals
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)



