section#footer
  .container-fluid
    .row
      .col-md-5.col-sm-5.col-md-offset-4.col-sm-offset-4
        p.copyright
          i.fa.fa-paper-plane-o.fa-lg 牛课件
          | © 版权所有 2014。
          | 作者：
          a(href='http://honglio.github.io') 刘宏
          |。 京ICP备【14015371号-1】
