section#footer
  .container.text-center
    p.copyright
      img(src='/img/ico/favicon.png' alt='' width='20')
      | 牛课件
      | © 版权所有 2014。
      | 作者：
      a(href='http://honglio.github.io') 刘宏
      |。 京ICP备【14015371号-1】
