section#footer
  .container-fluid
    .row
      .col-md-6.col-sm-6
        p.copyright
          img(src='/img/small-logo.png', alt='Footer Logo')
          | © copyright 2013. Created by
          a(href='http://honglio.github.io')  Hong Liu.
          |  all rights reserved
      .col-md-6.col-sm-6
        ul.social.pull-right
          li
            a(href='#')
              i.fa.fa-facebook.fa-2x(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-twitter.fa-2x(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-google.fa-2x(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-linkedin.fa-2x(aria-hidden='true')