section#footer
  .container
    p.copyright.text-center
      img(src='/img/ico/favicon-16x16.png')
      |  展书
      | © 版权所有 2014。
      //- | 作者：
      //- a(href='http://honglio.github.io') 刘宏
      | 京ICP备【14015371号-1】
      a.btn.btn-info.btn-xs(href='#contactModal' data-toggle="modal") 网站建议
