.container
  .row
    .col-md-12
      hr.content-hr

section#lower-content
  .container
    .row
      .col-md-12.centered.section-title-wrapper
        h2.section-title
          | 会员等级与
          span.normal 价格表
        p.section-subtitle
          | 立即开通会员，尊享等级特权，让你的课件更火更精彩！

      .col-md-3.col-sm-3.pricing-table.centered
        .pricing-head
          h5 铜牌会员
          .the-price
            h1
              | 0元
              span.subscript /月
            small 永久免费

        .pricing-content
          ul
            li 1 个课件
            li 1000 次浏览量
            li 10MB 存储空间
            li 无Email客服支持
            li 默认账户域名
            li 无周报Email邮件

        .pricing-table-button
          a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      .col-md-3.col-sm-3.pricing-table.centered
        .pricing-head
          h5 银牌会员
          .the-price
            h1
              | 30元
              span.subscript /月
            small 1 个月免费试用

        .pricing-content
          ul
            li 5 个课件
            li 10000 次浏览量
            li 50MB 存储空间
            li 7 X 24 小时Email客服支持
            li 默认账户域名
            li 无周报Email邮件

        .pricing-table-button
          a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      #tour-8.col-md-3.col-sm-3.pricing-table.popular.centered
        .pricing-head
          h5 金牌会员
          .the-price
            h1
              | 100元
              span.subscript /月
            small 1 个月免费试用

        .pricing-content
          ul
            li 15 个课件
            li 50000 次浏览量
            li 200MB 存储空间
            li 7 X 24 小时Email客服支持
            li 默认账户域名
            li 周报Email邮件

        .pricing-table-button
          a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      .col-md-3.col-sm-3.pricing-table.centered
        .pricing-head
          h5 白金会员
          .the-price
            h1
              | 300元
              span.subscript /月
            small 1 个月免费试用

        .pricing-content
          ul
            li 无限 个课件
            li 无限 此浏览量
            li 1GB 存储空间
            li 7 X 24 小时Email客服支持
            li 账户域名定制
            li 周报Email邮件

        .pricing-table-button
          a.small-btn.btn-default.green-btn.btn-default.uppercase(href='/signup') 注册
