# Installshield output folder
[Ee]xpress/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Nodejs
#############

node_modules
temp
dist
.sass-cache
app/bower_components
.tmp/
.monitor

#############
## Picasa
#############

.picasa.ini

#############
## Log
#############

log/
logs/

#############
## Build
#############
built/
tmp/

#############
## Vagrant
#############
.vagrant/
bin/vagrant/tmp/

#############
## Config
#############
config/local/*
!config/local/*.example

*.box
