/************************************************************************************************************************/

/* CSS Effects */

/************************************************************************************************************************/

/* Presets Style */
body{
  background: #fff;
  font-family: sans-serif;
  font-weight: 300;
  padding: 0;
  text-rendering: optimizeLegibility;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h5{
  line-height: 1.5em;
  font-weight: 500;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 14px;
}

a{
  color: #428BCA;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:hover{
  text-decoration: none;
}

.large-link{
  font-size: 22px;
  margin-top: 25px;
  display: block;
}

.large-link:after{
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  position: absolute;
  margin-left: 10px;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, li::selection, a::selection {
  background: #428BCA;
  text-shadow: none;
  }

p::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::selection, li::selection, a::-moz-selection {
  background: #428BCA;
  text-shadow: none;
}

section{
  padding: 20px 0;
}

.title{
  font-weight: 500;
}

.centered{
  text-align: center !important;
}

.uppercase{
  text-transform: uppercase;
}

.bolder{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

.lighter{
  font-weight: 200;
}

.center-image{
  margin: 0 auto;
  display: block;
}

hr{}

hr.title-line{
  margin: -38px auto 40px;
  width: 50%;
  display: block
}

hr.content-hr{
  border: 0;
  border-top: 1px solid #428BCA;
  margin-bottom: 0;
}

/* #TOP NAV
=============================== */
.navbar-inverse{
  background: rgba(255,255,255,.9);
  border: none;
  border-bottom: 1px solid #428BCA;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a{
  color: #272b31;
  font-weight: 300;
  font-size: 16px;
  text-shadow: none;
  padding: 10px 15px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
  color: #2a6496;
  background: none;
  box-shadow: 0 2px 0 #2a6496;
  border-radius: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #428BCA;
}

.navbar .nav.nav-pills{
  margin-top: 15px;
}

.navbar-toggle{
  background-color: #272b31;
}

.logo {
  margin: 11px;
}

/* Modul Icon Effect */

@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-webkit-keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toLeftFromRight {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
/* Da Thumbs */

.da-thumbs {
    list-style: none;
    padding: 0;
}
.da-thumbs {
    float: left;
    position: relative;
}
.da-thumbs a,
.da-thumbs a img {
    display: block;
    position: relative;
}
.da-thumbs a {
    overflow: hidden;
}
.da-thumbs a div {
    position: absolute;
    background: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
.da-thumbs a div span {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
}
/* Image Hover */

.grid {
    text-align: center;
}
.grid figure {
    display: inline-block;
    position: relative;
    text-align: left;
}
.grid figure img {
    position: relative;
}
.grid figcaption {
    position: absolute;
    padding: 20px;
}
.grid figcaption h6 {
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: 700;
}
.grid figcaption p {
    font-style: italic;
}
/* Individual Caption Styles */

/* Caption Style 1 */

.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
}
.cs-style-1 figcaption h3 {
    margin-top: 70px;
}
.cs-style-1 figcaption span {
    display: block;
}
.cs-style-1 figcaption a {
    margin-top: 30px;
}
/* Caption Style 2 */

.cs-style-2 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
}
.cs-style-2 figcaption {
    height: 80px;
    width: 100%;
    top: auto;
    bottom: 0;
}
.cs-style-2 figcaption a {
    margin-top: 0px;
    margin-left: 6px;
    margin-right: 6px;
}
/* Caption Style 3 */

.cs-style-3 figure {
    overflow: hidden;
}
.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img,
.no-touch .cs-style-3 figure:hover .blog-date-circle {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}
.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
    position: relative;
    margin-left: 5px;
}
.image-buttons {
    text-align: center;
}
.image-buttons-two {
    margin-top: -65px;
}
.image-buttons-three {
    text-align: center;
    margin-top: 8px;
    margin-left: -5px;
}
.blog-date-circle {
    position: absolute;
    display: block;
    margin: -36px 0px 0px 24px;
    border-radius: 50%;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    z-index: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
/* Caption Style 4 */

.cs-style-4 li {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}
.cs-style-4 figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cs-style-4 figure > div {
    overflow: hidden;
}
.cs-style-4 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
}
.cs-style-4 figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.cs-style-4 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* Caption Style 5 */

.cs-style-5 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
}
.cs-style-5 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.cs-style-5 figure a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* Caption Style 6 */

.cs-style-6 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
    -webkit-transform: translateY(-50px) scale(0.5);
    -moz-transform: translateY(-50px) scale(0.5);
    -ms-transform: translateY(-50px) scale(0.5);
    transform: translateY(-50px) scale(0.5);
}
.cs-style-6 figcaption {
    height: 100%;
    width: 100%;
}
.cs-style-6 figcaption h3 {
    margin-top: 60%;
}
.cs-style-6 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* Caption Style 7 */

.cs-style-7 li:first-child {
    z-index: 6;
}
.cs-style-7 li:nth-child(2) {
    z-index: 5;
}
.cs-style-7 li:nth-child(3) {
    z-index: 4;
}
.cs-style-7 li:nth-child(4) {
    z-index: 3;
}
.cs-style-7 li:nth-child(5) {
    z-index: 2;
}
.cs-style-7 li:nth-child(6) {
    z-index: 1;
}
.cs-style-7 figure img {
    z-index: 10;
}
.cs-style-7 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 0px #2c3f52;
}
.no-touch .cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
    opacity: 1;
    height: 130%;
    box-shadow: 0 0 0 10px #2c3f52;
}
.cs-style-7 figcaption h3 {
    margin-top: 86%;
}
.cs-style-7 figcaption h3,
.cs-style-7 figcaption span,
.cs-style-7 figcaption a {
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    transition: opacity 0s;
}
.cs-style-7 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
    -webkit-transition: opacity 0.3s 0.2s;
    -moz-transition: opacity 0.3s 0.2s;
    transition: opacity 0.3s 0.2s;
    opacity: 1;
}
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}
/* initially hide animatable objects */

.animatable {
    visibility: hidden;
}
/* show objects being animated */

.animated {
    visibility: visible;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
/* CSS Animations (extracted from http://glifo.uiparade.com/) */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(20px);
    }
    80% {
        -webkit-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    60% {
        -moz-transform: translateX(20px);
    }
    80% {
        -moz-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(20px);
    }
    80% {
        -o-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        -webkit-transform: translateX(-20px);
    }
    80% {
        -webkit-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
    60% {
        -moz-transform: translateX(-20px);
    }
    80% {
        -moz-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
    60% {
        -o-transform: translateX(-20px);
    }
    80% {
        -o-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        transform: translateX(-20px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3);
    }
    50% {
        -moz-transform: scale(1.05);
    }
    70% {
        -moz-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(.3);
    }
    50% {
        -o-transform: scale(1.05);
    }
    70% {
        -o-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes moveUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes moveUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes moveUp {
    0% {
        opacity: 1;
        -o-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeBgColor {
    0% {
        background: none;
    }
    70% {
        background: none;
    }
    100% {
        background: #46474d;
    }
}
.animationDelay {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
.animationDelayMed {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.animationDelayLong {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}
.fadeBgColor {
    -webkit-animation-name: fadeBgColor;
    -moz-animation-name: fadeBgColor;
    -o-animation-name: fadeBgColor;
    animation-name: fadeBgColor;
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.moveUp {
    -webkit-animation-name: moveUp;
    -moz-animation-name: moveUp;
    -o-animation-name: moveUp;
    animation-name: moveUp;
}
@media (max-width: 987px) {
    .phone-space-seven h1 {
        margin-top: 50px;
    }
    .nav-finish {
        margin-top: 0px;
    }
}
@media (max-width: 480px) {
    .fa {
        margin-right: 0;
    }
    .error-template h1 {
        margin-top: 50px;
        font-size: 900%;
    }
    .big-title {
        text-align: center;
    }
    .aboutus-single-title h1 {
        margin-top: 50px;
        text-align: center;
    }
    .phone-about-two {
        margin-top: -60px;
        margin-bottom: 50px;
    }
    .blog-slider-list {
        margin-top: -100px;
    }
    .modul-services-one {
        margin-bottom: 0px;
    }
    .portfolio-filter-one .btn-primary {
        display: inline-block;
    }
    .portfolio-filter-one ul li:last-child {
        margin-right: 10px;
    }
    .portlio-list h6 {
        margin-top: -80px;
    }
    .advert-button-one,
    .advert-button-seven,
    .advert-button-nine {
        display: block;
        margin-top: 20px;
        margin-bottom: 14px;
        margin-right: 10px;
        min-width: 150px;
    }
    .phone-space-one {
        margin-bottom: 100px;
    }
    .phone-space-two {
        margin-bottom: 150px;
    }
    .phone-space-three {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .phone-space-three h1 {
        text-align: left;
    }
    .phone-space-four {
        margin-bottom: 50px;
    }
    .phone-space-five {
        margin-top: 0px;
    }
    .phone-space-five h1 {
        text-align: left;
        margin-bottom: 20px;
    }
    .phone-space-six {
        margin-top: -50px;
    }
    .phone-space-six h1 {
        text-align: left;
        margin-bottom: 20px;
    }
    .phone-space-seven {
        margin-top: -20px;
    }
    .phone-space-eight {
        margin-top: 40px;
    }
    .advert-list-bottom-shape {
        max-width: 93%;
        max-height: 2px;
        border: 2px solid;
        margin-top: -100px;
        margin-bottom: 22px;
        margin-left: 10px;
        clear: both;
    }
    .tp-bullets.simplebullets .bullet {
        z-index: 1;
    }
}