/* Large desktop */

@media (min-width: 1200px) {
    /* General
	--------------------*/

    span.rollover {
        width: 510px;
    }
    /* Head Banner
	--------------------*/
    /* Product Teaser */

    .product-teaser span.play-button {
        width: 570px;
        height: 427px;
    }
    .product-teaser .right-desc {
        margin-top: 120px;
    }
    /* Content
	--------------------*/

    .section-subtitle {
        width: 55%;
    }
    /* #Featurettes
	--------------------*/

    .featurettes-inner-section img {
        margin: 20px 0 0 0;
    }
    .featurettes-inner-section .checklist li {
        margin-bottom: 1.3em;
        font-size: 14px;
        line-height: 21px;
    }
    /* #Annotations
	--------------------*/
    /*product dot*/

    .product-dot1 {
        margin-top: 50px;
        margin-left: 110px;
    }
    .product-dot2 {
        margin-top: 45px;
        margin-left: 540px;
    }
    .product-dot3 {
        margin-top: 50px;
        margin-left: 1055px;
    }
    .product-dot4 {
        margin-top: 165px;
        margin-left: 255px;
    }
    .product-dot5 {
        margin-top: 281px;
        margin-left: 178px;
    }
    .product-dot6 {
        margin-top: 510px;
        margin-left: 480px;
    }
    .product-dot7 {
        margin-top: 340px;
        margin-left: 120px;
    }
    .product-dot8 {
        margin-top: 753px;
        margin-left: 585px;
    }
    ul.annotations-features li {
        margin-bottom: 35px;
    }
    /* #Breakline
	--------------------*/

    #breakline h3:after {
        margin-top: 0;
        margin-left: 50px;
    }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /* General */

    span.rollover {
        width: 308px;
    }
    /* #Top Nav
	--------------------*/

    #top-nav {
        padding: 0;
    }
    .navbar .nav.pull-right {
        margin-top: 6px;
    }
    .navbar-inverse .btn-navbar {
        margin-top: 12px;
        background: #272b31;
    }
    .navbar-inverse .btn-navbar:hover {
        background: #428bca;
    }
    .navbar-inverse .nav .active > a,
    .navbar-inverse .nav .active > a:hover,
    .navbar-inverse .nav .active > a:focus {
        box-shadow: none;
    }
    .navbar-inverse .nav-collapse .nav > li > a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
        padding: 15px;
        border-bottom: 1px dashed #999999;
        border-radius: 0;
    }
    .navbar-inverse .nav-collapse .nav > li:last-child > a {
        border: none;
    }
    .navbar-inverse .nav-collapse .nav > li > a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover {
        background: none;
    }
    /* #Head Banner
	---------------------*/

    #head-banner {
        margin-top: 55px;
    }
    /*Produt Teaser */

    .product-teaser span.play-button {
        width: 352px;
        height: 264px;
    }
    .product-teaser .left-desc {
        margin: 0;
    }
    .product-teaser .right-desc {
        margin: 0;
    }
    .product-teaser .left-desc p,
    .product-teaser .right-desc p {
        font-size: 12px;
    }
    .product-teaser .left-desc:after {
        margin-top: 0;
    }
    .product-teaser .right-desc:before {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    /* #Featurettes
	----------------------*/

    .row-fluid.featurettes-inner-section [class*='span'] {
        width: 100%;
        margin-left: 0;
    }
    /* featurettes flexslider */

    .featurettes-inner-section img {
        margin: 0 auto;
    }
    /* #Annotations
	----------------------*/

    .annotation-link {
        width: 15px;
        height: 15px;
    }
    .medium-btn {
        padding: 15px 20px;
    }
    /* Product Dots */

    .product-dot1 {
        margin-top: 38px;
        margin-left: 98px;
    }
    .product-dot2 {
        margin-top: 25px;
        margin-left: 345px;
    }
    .product-dot3 {
        margin-top: 35px;
        margin-left: 665px;
    }
    .product-dot4 {
        margin-top: 105px;
        margin-left: 155px;
    }
    .product-dot5 {
        margin-top: 200px;
        margin-left: 572px;
    }
    .product-dot6 {
        margin-top: 315px;
        margin-left: 300px;
    }
    .product-dot7 {
        margin-top: 210px;
        margin-left: 80px;
    }
    .product-dot8 {
        margin-top: 467px;
        margin-left: 363px;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #tour-9 {
        display: block;
        text-align: center;
    }
}

/* Landscape iphone5 and down */

@media (max-width: 568px) {
    /* General */

    h1 {
        font-size: 38.5px;
    }
    h2 {
        font-size: 31.5px;
    }
    h3 {
        font-size: 24.5px;
    }
    h4 {
        font-size: 17.5px;
    }
    h5 {
        font-size: 15.5px;
    }
    h6 {
        font-size: 11.9px;
    }
    section {
        padding: 20px;
    }
    hr.content-hr {
        width: 90%;
        margin: 0 auto;
    }
    .checklist {
        text-align: left;
    }
    span.rollover {
        left: 0;
        width: 528px;
    }
    /* #Top Nav
	--------------------*/

    #top-nav {
        padding: 0 20px;
    }
    .navbar .nav-collapse .nav.pull-right {
        margin-bottom: 0;
    }
    .navbar-inverse .btn-navbar {
        margin-top: 12px;
        background: #272b31;
    }
    .navbar-inverse .btn-navbar:hover {
        background: #428bca;
    }
    .navbar-inverse .nav .active > a,
    .navbar-inverse .nav .active > a:hover,
    .navbar-inverse .nav .active > a:focus {
        box-shadow: none;
    }
    .navbar-inverse .nav-collapse .nav > li > a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
        padding: 15px;
        border-bottom: 1px dashed #999999;
        border-radius: 0;
    }
    .navbar-inverse .nav-collapse .nav > li:last-child > a {
        border: none;
    }
    .navbar-inverse .nav-collapse .nav > li > a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover {
        background: none;
    }
    /* #Head Banner
	---------------------*/

    #head-banner {
        margin-top: 55px;
        text-align: center;
    }
    .head-cta .col-xs-6 {
        display: inline-block;
        width: 45%;
        margin-left: 20px;
    }
    /*Product Teaser */

    .product-teaser {
        margin-top: 0;
    }
    .product-teaser .left-desc:after,
    .product-teaser .right-desc:before {
        display: none;
    }
    .product-teaser .left-desc {
        margin-bottom: 20px;
    }
    .product-teaser .right-desc {
        margin-top: 20px;
    }
    .product-teaser span.play-button {
        width: 105px;
        margin-top: 25px;
        margin-left: -50px;
    }
    /* #Marketing
	---------------------*/

    #marketing {
        margin-top: 0 !important;
        text-align: center;
    }
    .marketing-content {
        margin-bottom: 20px;
    }
    /* #Featurettes
	---------------------*/

    #featurettes {
        text-align: center;
    }
    .featurettes-content {
        margin-bottom: 40px;
    }
    .featurettes-inner-section .col-xs-6 {
        display: inline-block;
        width: 50%;
        margin-left: 0;
    }
    /* #Annotations
	---------------------*/

    #annotations {
        text-align: center;
    }
    .annotations-features-icon {
        float: none;
        margin-right: 0;
    }
    .right-annotation h6 {
        margin-top: 0 !important;
    }
    .right-annotation .checklist {
        margin: 0 80px;
    }
    /* #Annotations
	----------------------*/

    .annotation-link {
        width: 15px;
        height: 15px;
    }
    /* Product Dots */

    .product-dot1 {
        margin-top: 65px;
        margin-left: -190px;
    }
    .product-dot2 {
        margin-top: 85px;
        margin-left: 25px;
    }
    .product-dot3 {
        margin-top: 50px;
        margin-left: 190px;
    }
    .product-dot4 {
        margin-top: 105px;
        margin-left: -155px;
    }
    .product-dot5 {
        margin-top: 140px;
        margin-left: 145px;
    }
    .product-dot6 {
        margin-top: 235px;
        margin-left: 90px;
    }
    .product-dot7 {
        margin-top: 200px;
        margin-left: -180px;
    }
    .product-dot8 {
        margin-top: 330px;
        margin-left: -10px;
    }
    /* #Breakline
	---------------------*/

    #breakline h3 {
        padding: 0;
    }
    #breakline h3:after {
        display: none;
    }
    /* #Footer
	---------------------*/

    #footer {
        text-align: center;
    }
    #footer .social {
        float: none !important;
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {
    /* General */

    span.rollover {
        width: 440px;
    }
    /* #Annotations
	---------------------*/
    /* Product Dots */

    .product-dot1 {
        margin-top: 50px;
        margin-left: -160px;
    }
    .product-dot2 {
        margin-top: 70px;
        margin-left: 18px;
    }
    .product-dot3 {
        margin-top: 40px;
        margin-left: 155px;
    }
    .product-dot4 {
        margin-top: 85px;
        margin-left: -135px;
    }
    .product-dot5 {
        margin-top: 115px;
        margin-left: 125px;
    }
    .product-dot6 {
        margin-top: 185px;
        margin-left: 70px;
    }
    .product-dot7 {
        margin-top: 160px;
        margin-left: -150px;
    }
    .product-dot8 {
        margin-top: 280px;
        margin-left: -10px;
    }
}
/* Portrait phones and down */

@media (max-width: 320px) {
    /* General */

    span.rollover {
        width: 280px;
        height: 244px;
    }
    /* #Head Banner
	---------------------*/

    .head-cta .col-xs-6 {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .head-cta .col-xs-6 a {
        float: none !important;
    }
    /* Product Teaser */

    .product-teaser span.play-button {
        margin-top: -50px;
    }
    /* Content
	--------------------*/

    .section-subtitle {
        width: 100%;
        font-size: smaller;
    }
    /* Marketing */

    .marketing-content {
        margin-bottom: 40px;
    }
    /* #Featurettes
	----------------------*/

    .featurettes-inner-section .col-xs-6 {
        width: 100%;
        margin-left: 0;
    }
    /* featurettes flexslider */

    .featurettes-inner-section img {
        margin: 0 auto;
    }
    .featurettes-inner-section .checklist {
        margin-top: 20px;
    }
    /* #Annotations
	---------------------*/

    .right-annotation .checklist {
        margin: 0 20px;
    }
    /* Product Dots */

    .product-dot1 {
        margin-top: 30px;
        margin-left: -100px;
    }
    .product-dot2 {
        margin-top: 40px;
        margin-left: 10px;
    }
    .product-dot3 {
        margin-top: 20px;
        margin-left: 100px;
    }
    .product-dot4 {
        margin-top: 55px;
        margin-left: -80px;
    }
    .product-dot5 {
        margin-top: 70px;
        margin-left: 75px;
    }
    .product-dot6 {
        margin-top: 115px;
        margin-left: 45px;
    }
    .product-dot7 {
        margin-top: 100px;
        margin-left: -100px;
    }
    .product-dot8 {
        margin-top: 175px;
        margin-left: -10px;
    }
}
