/* Presets Style */
body{
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #272b31;
  padding: 0;
  text-rendering: optimizeLegibility;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h5{
  line-height: 1.5em;
  font-weight: 500;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 14px;
}

a{
  color: #2e9a66;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:hover{
  color: #27ae60;
  text-decoration: none;
}

.large-link{
  font-size: 22px;
  margin-top: 25px;
  display: block;
}

.large-link:after{
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  position: absolute;
  margin-left: 10px;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, li::selection, a::selection {
  background: #2e9a66;
  text-shadow: none;
  }

p::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::selection, li::selection, a::-moz-selection {
  background: #2e9a66;
  text-shadow: none;
}

section{
  padding: 20px 0;
}

hr{

}

.title{
  font-weight: 500;
}

.centered{
  text-align: center !important;
}

.uppercase{
  text-transform: uppercase;
}

.bolder{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

.lighter{
  font-weight: 200;
}

.center-image{
  margin: 0 auto;
  display: block;
}

hr.title-line{
  margin: -38px auto 40px;
  width: 50%;
  display: block
}

hr.content-hr{
  border: 0;
  border-top: 1px solid #2e9a66;
  margin-bottom: 0;
}

span.rollover {
  opacity: 1;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background:url(../img/photo-zoom.png) center center no-repeat;
  cursor: pointer;
  width: 420px;
  height: 300px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

span.rollover:hover {
  opacity: .7;
}

.checklist{
  margin: 0;
}

.checklist li{
  padding-left: 30px;
  margin-bottom: 10px;
}

.green-list{
  background: url(../img/green-check.png) no-repeat;
}

/* Reset for Border-Radius of some form elements */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Dark Background */
.dark-bg{
  background: #272b31 url(../img/dark-bg.png) repeat;
  color: #fff;
}

/* Alert */
.alert .close{
  line-height: 12px;
  border: none;
  border-radius: 0;
  background: none;
  color: #000;
  text-shadow: none;
  box-shadow: none;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.alert .close:hover{
  opacity: .5;
}

.alert {
  color: #b38b46;
  background-color: #ece1a5;
  border: 1px solid #d19a24;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f3aeae;
  border-color: #c23248;
}

.alert-success {
  color: #468847;
  background-color: #9fd177;
  border-color: #0f8a2c;
}

/* Form Error Message */
.form-error-message{
  display: none;
}

/* Buttons */
.small-btn{
  font-size: 12px;
  font-weight: 500;
  padding: 6px 15px;
  display: inline-block;
}

.medium-btn{
  font-size: 16px;
  font-weight: 500;
  padding: 15px 25px;
  display: inline-block;
}

.large-btn{
  font-size: 18px;
  font-weight: 500;
  padding: 20px 35px;
  display: inline-block;
}

.green-btn{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.32);
  letter-spacing: 1px;
  background: #5aaf86;
  background: -moz-linear-gradient(top,  #5aaf86 0%, #319c68 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aaf86), color-stop(100%,#319c68));
  background: -webkit-linear-gradient(top,  #5aaf86 0%,#319c68 100%);
  background: -o-linear-gradient(top,  #5aaf86 0%,#319c68 100%);
  background: -ms-linear-gradient(top,  #5aaf86 0%,#319c68 100%);
  background: linear-gradient(to bottom,  #5aaf86 0%,#319c68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aaf86', endColorstr='#319c68',GradientType=0 );
  border: 1px solid #2e9966;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 1px 0 rgba(255,255,255,.28), inset 0 0 5px rgba(255,255,255,.31);
}

.green-btn:hover{
  color: #fff;
  background: #319c68;
  background: -moz-linear-gradient(top,  #319c68 0%, #5aaf86 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#319c68), color-stop(100%,#5aaf86));
  background: -webkit-linear-gradient(top,  #319c68 0%,#5aaf86 100%);
  background: -o-linear-gradient(top,  #319c68 0%,#5aaf86 100%);
  background: -ms-linear-gradient(top,  #319c68 0%,#5aaf86 100%);
  background: linear-gradient(to bottom,  #319c68 0%,#5aaf86 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319c68', endColorstr='#5aaf86',GradientType=0 )
}

.yellow-btn{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.32);
  letter-spacing: 1px;
  background: #f9b456;
  background: -moz-linear-gradient(top,  #f9b456 0%, #f7a12c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b456), color-stop(100%,#f7a12c));
  background: -webkit-linear-gradient(top,  #f9b456 0%,#f7a12c 100%);
  background: -o-linear-gradient(top,  #f9b456 0%,#f7a12c 100%);
  background: -ms-linear-gradient(top,  #f9b456 0%,#f7a12c 100%);
  background: linear-gradient(to bottom,  #f9b456 0%,#f7a12c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b456', endColorstr='#f7a12c',GradientType=0 );
  border: 1px solid #f79f27;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 1px 0 rgba(255,255,255,.28), inset 0 0 5px rgba(255,255,255,.31);
}

.yellow-btn:hover{
  color: #fff;
  background: #f7a12c;
  background: -moz-linear-gradient(top,  #f7a12c 0%, #f9b456 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a12c), color-stop(100%,#f9b456));
  background: -webkit-linear-gradient(top,  #f7a12c 0%,#f9b456 100%);
  background: -o-linear-gradient(top,  #f7a12c 0%,#f9b456 100%);
  background: -ms-linear-gradient(top,  #f7a12c 0%,#f9b456 100%);
  background: linear-gradient(to bottom,  #f7a12c 0%,#f9b456 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a12c', endColorstr='#f9b456',GradientType=0 );

}

/* Social Buttons
-------------------------------- */
.social{
  margin: 0;
  display: inline-block;
}

.social li{
  float: left;
  margin-right: 10px;
  border: 2px solid #272b31;
  border-radius: 50%;
  background-clip: padding-box;
    -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social li:last-child{
  margin-right: 0;
}

.social li:hover{
  border: 2px solid #2e9a66;
}

.social li a{
  color: #272b31;
  text-shadow: none;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.social li a:hover{
  color: #2e9a66;
}

.social li a i{
  /* padding: 5px 0 0 3px; */
}
/* #TOP NAV
=============================== */
.navbar-inverse{
  background: rgba(255,255,255,.9);
  border: none;
  border-bottom: 1px solid #2e9a66;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a{
  color: #272b31;
  font-weight: 300;
  font-size: 16px;
  text-shadow: none;
  padding: 10px 15px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
  color: #2e9965;
  background: none;
  box-shadow: 0 2px 0 #2e9965;
  border-radius: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #2e9a66;
}

.navbar .nav.nav-pills{
  margin-top: 15px;
}

.navbar-toggle{
  background-color: #272b31;
}


/* #HEAD BANNER
=============================== */
#head-banner{
  border-top: 2px solid #2e9a66;
  border-bottom: 7px solid #2e9a66;
  margin-top: 36px;
}

#head-banner h1{
  text-shadow: 0 2px 5px rgba(0,0,0,.75);
}

#head-banner h3, #head-banner h4, #head-banner h5{
  text-shadow: 0 2px 3px rgba(0,0,0,.75);
}

.head-cta{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Product Teaser */
.product-teaser{
  margin-top: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
}

.product-teaser .product-teaser-title{
  font-weight: bold;
}

.product-teaser .product-teaser-desc{
  color: #959eaa;
}

.product-teaser .left-desc{
  margin-top: 40px;
}

.product-teaser .left-desc:after{
  background: url(../img/arrow1.png) right no-repeat;
  content: '';
  height: 123px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.product-teaser .right-desc{
  margin-top: 70px;
}

.product-teaser .right-desc:before{
  background: url(../img/arrow2.png) left no-repeat;
  content: '';
  height: 123px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.product-teaser span.play-button {
  opacity: .7;
  background:url(../img/play-button.png) center center no-repeat;
  cursor: pointer;
  width: 460px;
  height: 345px;
  position: absolute;
  z-index: 10;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-teaser span.play-button:hover {
  opacity: 1;
}

/* App Teaser */
.app-teaser{
  margin-top: 60px;
  margin-bottom: 40px;
}

.app-teaser .app-teaser-title{
  font-weight: bold;
}

.app-teaser .app-teaser-desc{
  color: #959eaa;
}

.app-teaser .left-desc .top-left-desc, .app-teaser .right-desc .top-right-desc{
  margin-top: 45px;
}

.app-teaser .left-desc .btm-left-desc, .app-teaser .right-desc .btm-right-desc{
  margin-top: 45px;
}

.app-teaser .left-desc .top-left-desc:after{
  background: url(../img/arrow3.png) center no-repeat;
  content: '';
  height: 92px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.app-teaser .left-desc .btm-left-desc:before{
  background: url(../img/arrow4.png) center no-repeat;
  content: '';
  height: 92px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.app-teaser .right-desc .top-right-desc:after{
  background: url(../img/arrow5.png) center no-repeat;
  content: '';
  height: 92px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.app-teaser .right-desc .btm-right-desc:before{
  background: url(../img/arrow6.png) center no-repeat;
  content: '';
  height: 92px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.app-teaser img.app-image{
  position: absolute;
}


/* flexslider head banner */
.low-head-banner-wrapper h5{
  background: url(../img/dark-bg.png) repeat #272b31;
  display: inline-block;
  padding: 0 20px;
  margin: 0 0 25px;
}

.dark-bg hr{
  border: 1px solid;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.flexslider-low-head-banner .slides{
  min-height: 83px;
}

/* Testimonial */
.testimonial{
  color: #959eaa;
  font-weight: 300;
  padding: 0 35px;
  margin-left: 0;
}

.testimonial:before{
  background: url(../img/quote1.png) top left no-repeat;
  background-size: 19px 17px;
  content: "";
  height: 17px;
  width: 19px;
  position: absolute;
  left: 0;
  margin-top: 0;
}

.testimonial:after{
  background: url(../img/quote2.png) bottom right no-repeat;
  background-size: 19px 17px;
  content: "";
  height: 17px;
  width: 19px;
  position: absolute;
  right: 0;
  margin-top: 6px;
}

.testi{
  font-style: italic;
}

.author:before{
  content: '\2014';
}


/* Content */
.section-title-wrapper{
  margin-bottom: 60px;
}

.section-title{
  margin-bottom: 20px
}

.section-subtitle{
  width: 67%;
  display: block;
  margin: 10px auto;
}


/* #Marketing
=============================== */
.marketing-icon{
  box-shadow: 0 0 0 5px #272b31;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.marketing-icon:hover{
  box-shadow: 0 0 0 10px #272b31;
}

/* #Featurettes
=============================== */
.featurettes-inner-section img{
  margin: 20px 0 40px;
}

.featurettes-inner-section .checklist{
  margin-top: 60px;
}

.featurettes-inner-section .checklist li{
  margin-bottom: 1.2em;
  font-size: 12px;
  line-height: 20px;
}

/* #Annotations
=============================== */
/* Product Annotations */
.annotation-link{
  width: 25px;
  height: 25px;
  position: absolute;
  background: #ff2400;
  box-shadow: 0 0 0 5px rgba(255, 36, 0, 0.32);
  border-radius: 50%;
  content: "";
  font: 0/0 a;
}

.annotation-link:hover{
  box-shadow: 0 0 0 10px rgba(255, 36, 0, 0.32);
}

/*product dot*/
.product-dot1{
  margin-left: 110px;
  margin-top: 50px;
}
.product-dot2{
  margin-left: 445px;
  margin-top: 35px;
}

.product-dot3{
  margin-left: 865px;
  margin-top: 40px;
}

.product-dot4{
  margin-left: 206px;
  margin-top: 135px;
}

.product-dot5{
  margin-left: 740px;
  margin-top: 255px;
}

.product-dot6{
  margin-left: 400px;
  margin-top: 410px;
}

.product-dot7{
  margin-left: 110px;
  margin-top: 270px;
}

.product-dot8{
  margin-left: 475px;
  margin-top: 600px;
}

/* App Annotations */
.left-annotation, .right-annotation{
  margin-top: 60px;
}

ul.annotations-features{
  margin: 60px 0;
}

ul.annotations-features li{
  margin-bottom: 20px;
}

.annotations-features-icon{
  float: left;
  margin-right: 20px;
  margin-bottom: 4em;
}

/*app dot*/
.app-dot1{
  margin-left: 80px;
  margin-top: 120px;
}

.app-dot2{
  margin-left: 150px;
  margin-top: 215px;
}

.app-dot3{
  margin-left: 90px;
  margin-top: 350px;
}

.app-dot4{
  margin-left: 260px;
  margin-top: 425px;
}

.app-dot5{
  margin-left: 55px;
  margin-top: 500px;
}



/* Pricing Table */
.pricing-table{
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
  margin: 0 10px;
  margin-bottom: 40px;
  padding: 0;
  width: 270px;
}

.pricing-table.popular:before{
  background: url("../img/ribbon.png") 0 0 no-repeat;
  background-size: 82px 82px;
  content: "";
  height: 82px;
  width: 82px;
  position: absolute;
  margin-left: 33px;
  margin-top: -6px;
}

.pricing-head, .pricing-table-button{
  text-align: center;
}

.pricing-head{
  border-radius: 4px 4px 0 0;
}

.pricing-head h5{
  color: #272b31;
  font-size: 18px;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
  background: #dcdcdc;
  box-shadow: 0 -1px 5px rgba(130, 130, 130, 0.35),inset 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-bottom: 1px solid #bbb;
  border-radius: 4px 4px 0 0;
}

.the-price{
  background-color: rgba(220,220,220,.17);
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
  padding: 20px;
  margin: 0;
}

.the-price h1{
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.the-price small{
  color: #959595;
  font-weight: normal;
  padding-bottom: 10px;
}

.subscript{
  font-size: 25px;
}

.pricing-content ul{
  padding: 0;
}

.pricing-content li{
  color: #272b31;
  font-weight: normal;
  padding: 15px 0;
}

.pricing-content li:nth-child(even){
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: rgba(220,220,220,.68);
  box-shadow: inset 0 1px 0 #fff
}

.pricing-table-button{
  padding: 10px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: rgba(249,249,249,.68);
  box-shadow: inset 0 1px 0 #fff;
}

.pricing-table-button a{
  display: inline-block;
}

/* Team */
ul.team{
  margin: 40px 0;
}

ul.team li{
  margin-bottom: 25px;
}

ul.team li img{
  float: left;
  margin-right: 20px;
  margin-bottom: 4em;
}

.position{
  color: #959eaa;
  font-weight: normal;
}

a.team-social{
  color: #272b31;
  font-size: 20px;
  margin-right: 10px;
}

a.team-social:hover{
  color: #2e9a66;
}

/* Toggle FAQ*/
.toggle-content{
  margin-bottom: 20px;
}

.toggle-group{
  margin-bottom: 2px;
}

.toggle-heading{
  border-bottom: 1px dashed #999;
  padding: 10px 0;
}

.toggle-heading .toggle-button{
  display: block;
  padding: 8px 10px;
  cursor: pointer;
  color: #272b31;
  font-size: 16px;
  font-weight: normal;
}

a.toggle-button:hover{
  color: #2e9a66;
}

a.toggle-button:before {
  content: 'Q';
  color: #2d9965;
  font-size: 22px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #272b31;
}

a.toggle-button h5{
  margin-bottom: 10px;
}

a.toggle-button:hover{
  text-decoration: none;
}

.toggle-inner{
  background-color: rgba(220,220,220,.17);
  box-shadow: 0 -1px 0 #999;
  border: none;
}

.toggle-inner .toggle-text{
  padding: 15px 20px;
}


/* #Breakline
=============================== */
#breakline{
  border-top: 2px solid #2e9a66;
  border-bottom: 2px solid #2e9a66;
}

#breakline h3{
  text-shadow: 0 2px 5px rgba(0,0,0,.75);
  padding: 20px 0 30px;
}

#breakline h3:after{
  content: '';
  background: url(../img/arrow7.png) 0 0 no-repeat;
  background-size: 167px 47px;
  width: 167px;
  height: 47px;
  position: absolute;
  margin-top: 20px;
  margin-left: -75px;
}

/* Subscribe */
#subscribe_form{
  margin-top: 40px;
  margin-bottom: 20px;
}

#subscribe_form input[type="text"]{
  background-clip: padding-box;
  background-color: rgba(72, 75, 78, 0.15);
  border: none;
  box-shadow: 0 1px 0 rgba(64,67,72,.75), inset 0 1px 5px rgba(0,0,0,.75);
  padding: 0 20px 0 15px;
  margin-bottom: 0;
  height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.32);
  font-size: 12px;
  font-weight: 300;
  width: 60.5%;
  margin-right: 5px;
}

.subscribe-submit{
  background-clip: padding-box;
  padding: 9px 17px 8px;
  text-shadow: 0 1px 0 rgba(0,0,0,.32);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-weight: 300;
  height: 40px;
}

.subscribe-text{
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  color: #959eaa;
}

/* Contact
=================================*/
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-backdrop {
  background-color: rgba(39, 43, 49, 0.75);
}

.modal-body{
  padding: 20px;
  max-height: none;
}

#contactModal{
  border: 1px solid #272b31;
  border-radius: 5px;
  background-clip: padding-box;
  box-shadow: 0 5px 25px rgba(0,0,0,.59);
}

.modal-header{
  background-color: #edf1f3;
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff;
  border-radius: 5px 5px 0 0;
  padding: 12px 20px;
}

.modal-label{
  margin: 0;
}

button.close{
  color: #edf1f3;
  text-shadow: 0 1px 3px rgba(39,43,49,.49);
  border: 3px solid rgba(252, 253, 254, 0.5);
  border-radius: 50%;
  background-clip: padding-box;
  background-color: rgba(153, 153, 153, 0.51);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.35);
  margin: 0;
  padding: 5px 7px 7px;
  line-height: 12px;
  opacity: 1;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.modal-header .close {
  margin-top: -2px;
}

/* Contact Form Section */
#contact_form{
  margin: 0;
}

#contact_form label{
  color: #272b31;
  font-size: 16px;
  font-weight: 400;
}

.contact-form-container .row-fluid{
  margin-bottom: 10px;
}

.contact-form-container input,.contact-form-container textarea{
  background-clip: padding-box;
  background-color: rgba(238,242,244,.61);
  box-shadow: 0 0 3px #fff, inset 0 1px 5px rgba(130,130,130,.75);
  border: none;
}

.contact-form-container input{
  width: 100%;
  padding: 0 15px;
  margin-bottom: 0px;
  box-sizing: border-box;
  height: 42px;
}

.contact-form-container textarea{
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
}

input[type="submit"].send-button{
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.44);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 17px;
  box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 1px 0 rgba(255,255,255,.28), inset 0 0 5px rgba(255,255,255,.31);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  margin-top: 20px;
}

/* Hopscotch Take a Tour plugin custom style */
div.hopscotch-bubble .hopscotch-nav-button.next{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.32);
  letter-spacing: 1px;
  background: #5aaf86 !important;
  background: -moz-linear-gradient(top,  #5aaf86 0%, #319c68 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aaf86), color-stop(100%,#319c68)) !important;
  background: -webkit-linear-gradient(top,  #5aaf86 0%,#319c68 100%) !important;
  background: -o-linear-gradient(top,  #5aaf86 0%,#319c68 100%) !important;
  background: -ms-linear-gradient(top,  #5aaf86 0%,#319c68 100%) !important;
  background: linear-gradient(to bottom,  #5aaf86 0%,#319c68 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aaf86', endColorstr='#319c68',GradientType=0 ) !important;
  border: 1px solid #2e9966 !important;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 1px 0 rgba(255,255,255,.28), inset 0 0 5px rgba(255,255,255,.31) !important;
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover{
  color: #fff;
  background: #319c68 !important;
  background: -moz-linear-gradient(top,  #319c68 0%, #5aaf86 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#319c68), color-stop(100%,#5aaf86)) !important;
  background: -webkit-linear-gradient(top,  #319c68 0%,#5aaf86 100%) !important;
  background: -o-linear-gradient(top,  #319c68 0%,#5aaf86 100%) !important;
  background: -ms-linear-gradient(top,  #319c68 0%,#5aaf86 100%) !important;
  background: linear-gradient(to bottom,  #319c68 0%,#5aaf86 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319c68', endColorstr='#5aaf86',GradientType=0 ) !important;
}

/*Article*/
/*-------------------------*/

form h2 {
  padding-top: 50px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

/*Navbar*/
/*-------------------------*/

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  padding-left: 50px;
  margin-left: 15px;
}

/*Alerts*/
/*-------------------------*/

.alert {
  margin-top: 36px;
  margin-bottom: -36px;
}

/*Font Awesome*/
/*-------------------------*/

.fa {
  /* margin-right: 5px; */
}

/*API Examples*/
/*-------------------------*/

.thumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thumb img {
  margin-bottom: 5px;
  margin-right: 5px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.thumb:hover img {
  opacity: 1;
  box-shadow: 0 0 3px 1px @brand-primary;
}

.facebook-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
  padding: 3px;
  bottom: 25px;
}

.api-examples img {
  padding-right: 10px;
}

/*Slide Editor*/
/*-------------------------*/

#slide-editor {
  background: #8D939D;
  margin-top: 35px;
  padding-bottom: 20px;
}

form[role='search'].navbar-form {
  margin: 18px 0;
}

.logo {
  margin: 11px;
}

/***
Spectrum Colorpicker v1.1.1
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/

.sp-container {
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    *display: inline;
    *zoom: 1;
    z-index: 2147483647;
    overflow: hidden;
}
.sp-container.sp-flat {
    position: relative;
}

/* http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.sp-top {
  position:relative;
  width: 100%;
  display:inline-block;
}
.sp-top-inner {
   position:absolute;
   top:0;
   left:0;
   bottom:0;
   right:0;
}
.sp-color {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:20%;
}
.sp-hue {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:84%;
    height: 100%;
}
.sp-fill {
    padding-top: 80%;
}
.sp-sat, .sp-val {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.sp-alpha-enabled .sp-top
{
    margin-bottom: 18px;
}
.sp-alpha-enabled .sp-alpha
{
    display: block;
}

.sp-alpha-handle
{
    position:absolute;
    top:-4px;
    bottom: -4px;
    width: 6px;
    left: 50%;
    cursor: pointer;
    border: 1px solid black;
    background: white;
    opacity: .8;
}

.sp-alpha
{
    display: none;
    position: absolute;
    bottom: -14px;
    right: 0;
    left: 0;
    height: 8px;
}
.sp-alpha-inner{
    border: solid 1px #333;
}

/* Don't allow text selection */
.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider, .sp-alpha, .sp-alpha-handle, .sp-container.sp-dragging .sp-input, .sp-container button  {
    -webkit-user-select:none;
    -moz-user-select: -moz-none;
    -o-user-select:none;
    user-select: none;
}

.sp-container.sp-input-disabled .sp-input-container {
    display: none;
}
.sp-container.sp-buttons-disabled .sp-button-container {
    display: none;
}
.sp-palette-only .sp-picker-container {
    display: none;
}
.sp-palette-disabled .sp-palette-container {
    display: none;
}

.sp-initial-disabled .sp-initial {
    display: none;
}


/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
    background-image: -webkit-gradient(linear,  0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter : progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}
.sp-val {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.sp-hue {
    background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -ms-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
 */

.sp-1 {
    height:17%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00');
}
.sp-2 {
    height:16%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00');
}
.sp-3 {
    height:17%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff');
}
.sp-4 {
    height:17%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff');
}
.sp-5 {
    height:16%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff');
}
.sp-6 {
    height:17%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}

.sp-hidden {
    display: none !important;
}

/* Clearfix hack */
.sp-cf:before, .sp-cf:after { content: ""; display: table; }
.sp-cf:after { clear: both; }
.sp-cf { *zoom: 1; }

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
    .sp-color { right: 40%; }
    .sp-hue { left: 63%; }
    .sp-fill { padding-top: 60%; }
}

.sp-dragger {
   border-radius: 5px;
   height: 5px;
   width: 5px;
   border: 1px solid #fff;
   background: #000;
   cursor: pointer;
   position:absolute;
   top:0;
   left: 0;
}
.sp-slider {
    position: absolute;
    top:0;
    cursor:pointer;
    height: 3px;
    left: -1px;
    right: -1px;
    border: 1px solid #000;
    background: white;
    opacity: .8;
}

/* Basic display options (colors, fonts, global widths) */
.sp-container {
    border-radius: 0;
    background-color: #ECECEC;
    border: solid 1px #f0c49B;
    padding: 0;
}
.sp-container, .sp-container button, .sp-container input, .sp-color, .sp-hue
{
    font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sp-top
{
    margin-bottom: 3px;
}
.sp-color, .sp-hue
{
    border: solid 1px #666;
}

/* Input */
.sp-input-container {
    float:right;
    width: 100px;
    margin-bottom: 4px;
}
.sp-initial-disabled  .sp-input-container {
    width: 100%;
}
.sp-input {
   font-size: 12px !important;
   border: 1px inset;
   padding: 4px 5px;
   margin: 0;
   width: 100%;
   background:transparent;
   border-radius: 3px;
   color: #222;
}
.sp-input:focus  {
    border: 1px solid orange;
}
.sp-input.sp-validation-error
{
    border: 1px solid red;
    background: #fdd;
}
.sp-picker-container , .sp-palette-container
{
    float:left;
    position: relative;
    padding: 10px;
    padding-bottom: 300px;
    margin-bottom: -290px;
}
.sp-picker-container
{
    width: 172px;
    border-left: solid 1px #fff;
}

/* Palettes */
.sp-palette-container
{
    border-right: solid 1px #ccc;
}

.sp-palette .sp-thumb-el {
    display: block;
    position:relative;
    float:left;
    width: 24px;
    height: 15px;
    margin: 3px;
    cursor: pointer;
    border:solid 2px transparent;
}
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: orange;
}
.sp-thumb-el
{
    position:relative;
}

/* Initial */
.sp-initial
{
    float: left;
    border: solid 1px #333;
}
.sp-initial span {
    width: 30px;
    height: 25px;
    border:none;
    display:block;
    float:left;
    margin:0;
}

/* Buttons */
.sp-button-container {
    float: right;
}

/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
    margin:0;
    overflow:hidden;
    cursor:pointer;
    padding: 4px;
    display:inline-block;
    *zoom: 1;
    *display: inline;
    border: solid 1px #91765d;
    background: #eee;
    color: #333;
    vertical-align: middle;
}
.sp-replacer:hover, .sp-replacer.sp-active {
    border-color: #F0C49B;
    color: #111;
}
.sp-replacer.sp-disabled {
    cursor:default;
    border-color: silver;
    color: silver;
}
.sp-dd {
    padding: 2px 0;
    height: 16px;
    line-height: 16px;
    float:left;
    font-size:10px;
}
.sp-preview
{
    position:relative;
    width:25px;
    height: 20px;
    border: solid 1px #222;
    margin-right: 5px;
    float:left;
    z-index: 0;
}

.sp-palette
{
    *width: 220px;
    max-width: 220px;
}
.sp-palette .sp-thumb-el
{
    width:16px;
    height: 16px;
    margin:2px 1px;
    border: solid 1px #d0d0d0;
}

.sp-container
{
    padding-bottom:0;
}


/* Buttons: http://hellohappy.org/css3-buttons/ */
.sp-container button {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding: 5px 4px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  vertical-align: middle;
}
.sp-container button:hover {
    background-color: #dddddd;
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}
.sp-container button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
.sp-cancel
{
    font-size: 11px;
    color: #d93f3f !important;
    margin:0;
    padding:2px;
    margin-right: 5px;
    vertical-align: middle;
    text-decoration:none;

}
.sp-cancel:hover
{
    color: #d93f3f !important;
    text-decoration: underline;
}


.sp-palette span:hover, .sp-palette span.sp-thumb-active
{
    border-color: #000;
}

.sp-preview, .sp-alpha, .sp-thumb-el
{
    position:relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner
{
    display:block;
    position:absolute;
    top:0;left:0;bottom:0;right:0;
}

.sp-palette .sp-thumb-inner
{
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=);
}

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=);
}
