/* Dark Background */
/*-------------------------*/
.dark-bg {
    color: #ffffff;
    background: #272b31 url(../img/dark-bg.png) repeat;
}

.img-bg {
    background-color: #eee;
    background-image: url(../img/ss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*background fixed scroll not working well in some browser*/
    /*background-attachment: fixed;*/
}

/* Buttons */
/*-------------------------*/
.small-btn {
    display: inline-block;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: 500;
}

.medium-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 500;
}

.large-btn {
    display: inline-block;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 500;
}

/* Content */
/* -------------------------- */
.section-title-wrapper {
    margin-bottom: 60px;
}

.section-title {
    margin-bottom: 20px;
}

.section-subtitle {
    display: block;
    width: 67%;
    margin: 10px auto;
}

/*HerizonLine*/
/*--------------------------------*/

hr.title-line {
    display: block;
    width: 50%;
    margin: -38px auto 40px;
}

hr.content-hr {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #428bca;
}

/* Checklist */
/*=========================*/

.checklist {
    margin: 0;
}

.checklist li {
    padding-left: 30px;
    margin-bottom: 10px;
}

.green-list {
    background: url(../img/green-check.png) no-repeat;
}

/* Social Buttons*/
/* =============================== */

.social {
    display: inline-block;
    margin: 0;
}

.social li {
    float: left;
    margin-right: 10px;
    background-clip: padding-box;
    border: 2px solid #272b31;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social li:last-child {
    margin-right: 0;
}

.social li:hover {
    border: 2px solid #428bca;
}

.social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #272b31;
    text-align: center;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

.social li a:hover {
    color: #428bca;
}
/* #HEAD BANNER */
/* =============================== */
#head-banner {
    margin-top: 35px;
    border-top: 2px solid #428bca;
    border-bottom: 7px solid #428bca;
}

#head-banner h1 {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

#head-banner h3,
#head-banner h4,
#head-banner h5 {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
}
/* Product Teaser */
/*--------------------------------*/
.product-teaser {
    margin-top: 60px;
    margin-bottom: 40px;
}

.product-teaser .product-teaser-title {
    font-weight: bold;
}

.product-teaser .product-teaser-desc {
    color: #666;
}

.product-teaser .left-desc {
    margin-top: 40px;
}

.product-teaser .left-desc:after {
    display: block;
    width: 100%;
    height: 123px;
    margin-top: 20px;
    content: '';
    background: url(../img/arrow1.png) right no-repeat;
}

.product-teaser .right-desc {
    margin-top: 70px;
}

.product-teaser .right-desc:before {
    display: block;
    width: 100%;
    height: 123px;
    margin-bottom: 20px;
    content: '';
    background: url(../img/arrow2.png) left no-repeat;
}

.product-teaser span.play-button {
    position: absolute;
    z-index: 10;
    width: 460px;
    height: 345px;
    cursor: pointer;
    background: url(../img/play-button.png) center center no-repeat;
    opacity: 0.7;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.product-teaser span.play-button:hover {
    opacity: 1;
}

span.rollover {
    position: absolute;
    z-index: 10;
    width: 420px;
    height: 300px;
    cursor: pointer;
    background: url(../img/photo-zoom.png) center center no-repeat;
    opacity: 1;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

span.rollover:hover {
    opacity: 0.7;
}
/* #Marketing */
/* =============================== */

.marketing-icon {
    margin: 10px 0;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #272b31;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.marketing-icon:hover {
    box-shadow: 0 0 0 10px #272b31;
}
/* #Featurettes */
/* =============================== */
.featurettes-inner-section img {
    margin: 20px 0 40px;
}

.featurettes-inner-section .checklist {
    margin-top: 60px;
}

.featurettes-inner-section .checklist li {
    margin-bottom: 1.2em;
    font-size: 12px;
    line-height: 20px;
}
/* #Annotations */
/* =============================== */

/* Product Annotations */
/*--------------------------------*/
.annotation-link {
    position: absolute;
    width: 25px;
    height: 25px;
    font: 0/0 a;
    content: '';
    background: #ff2400;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 36, 0, 0.32);
}

.annotation-link:hover {
    box-shadow: 0 0 0 10px rgba(255, 36, 0, 0.32);
}

/*ProductDot*/
/*--------------------------------*/
.product-dot1 {
    margin-top: 50px;
    margin-left: 110px;
}

.product-dot2 {
    margin-top: 35px;
    margin-left: 445px;
}

.product-dot3 {
    margin-top: 40px;
    margin-left: 865px;
}

.product-dot4 {
    margin-top: 135px;
    margin-left: 206px;
}

.product-dot5 {
    margin-top: 255px;
    margin-left: 740px;
}

.product-dot6 {
    margin-top: 410px;
    margin-left: 400px;
}

.product-dot7 {
    margin-top: 270px;
    margin-left: 110px;
}

.product-dot8 {
    margin-top: 600px;
    margin-left: 475px;
}

/*Breakline*/
/*================================*/

#breakline {
    border-top: 2px solid #428bca;
    border-bottom: 2px solid #428bca;
}

#breakline h3 {
    padding: 20px 0 30px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

/*Jumbotron*/
/*--------------------------------*/
.jumbotron-alfa {
    margin-top: 46px;
    margin-bottom: 46px;
}
