<div class="modal-dialog">
  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				{{title}}
			</h4>
		</div>
		<div class="modal-body" style="overflow: hidden">
			<div class="alert alert-error hide">
		  		图片网址不正确
			</div>
			<h4>网址:</h4>
			<div class="form-inline">
				<input type="text" name="itemUrl"></input>&nbsp;
				{{#if browsable}}
					<div data-option="browse" class="btn btn-default">上传</div>
				{{/if}}
			</div>
			<input type="file" name="image" accept="image/*" style="display:none" capture>
			<h4>预览:</h4>
			<ul class="thumbnails">
				<li class="span4">
					<div class="thumbnail">
						<{{tag}} class="preview" width="360" height"268"></{{tag}}>
					</div>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary ok" disabled="disabled">Save</button>
		</div>
	</div>
</div>
