extends layout

block content
  .container
    section.page-header
    br
    br
    br
    br
    br
    br
    br
    br
    section.row
      .error-template.text-center
        .error-symbol
          i.fa.fa-warning.fa-5x
        .error-text
          h1 404错误
          h2 页面无法访问
