doctype html
html.js.no-touch
  head
    <!-- qq auth code -->
    <meta property="qc:admins" content="34732662776615326375" />

    include partials/head
    <!-- build:css(built) /css/main.css -->
    link(rel='stylesheet' href='/css/base.css' type='text/css')
    link(rel='stylesheet', href='/css/styles.css', type='text/css')
    link(rel='stylesheet', href='/css/style-responsive.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/flexslider.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/hopscotch-0.1.2.min.css', type='text/css', media='screen')
    link(rel='stylesheet', href='/css/prettyPhoto.css', type='text/css', media='screen')
    <!-- endbuild -->

  body
    header
      include partials/navigation

    main
      section#head-banner.dark-bg
        .container
          .row
            #tour-1.col-md-12
              h1.tagline.centered.normal
                span.bolder 牛课件
              h3.centered.lighter 一个在线课件平台
            .col-md-12.product-teaser
              .row
                .col-md-3.col-sm-3.left-desc
                  p#startTourBtn.product-teaser-title 轻松编写
                  p.product-teaser-desc
                    | 牛课件的编辑模块是基于HTML5和CSS3的在线网页编辑器，无需安装任何程序，即可在浏览器中使用。
                #tour-2.col-md-6.col-sm-6
                  a(rel='prettyPhoto[flash]', href='http://////player.56.com/v_MTE2NjMzOTQz.swf/1030_xl-xzrjlwlgyr.swf', title='课件放映效果演示')
                    // Link to your youtube/vimeo video
                    span.play-button.animated.bounceIn
                    img.center-image.img-responsive(src='img/ss.png', alt='')
                .col-md-3.col-sm-3.right-desc
                  p.product-teaser-title 酷炫放映
                  p.product-teaser-desc
                    | 点击左图，查看课件的放映效果。如果你喜欢，马上开始创建自己的课件吧！


      section#marketing(style='margin-top: 60px;')
        .container
          .row
            .col-md-12.col-sm-12.centered.section-title-wrapper
              h2.section-title
                | 多个模块尽在
                span.normal 牛课件
              p.section-subtitle
                | 我们的团队在网站开发和服务方面有着多年的经验，竭诚为您提供高质量的课件编写和展示平台。
            .col-md-4.col-sm-4.marketing-content.centered
              img.marketing-icon(src='/img/keyframes.png', alt='Marketing Icon')
              h4 内化社交网络
              p.h4
                | 牛课件提供交友功能、可关注好友和被关注。朋友圈功能也会陆续开放。
            .col-md-4.col-sm-4.marketing-content.centered
              img.marketing-icon(src='/img/phone.png', alt='Marketing Icon')
              h4 全面支持移动设备
              p.h4
                | 智能手机和平板电脑可通过浏览器直接访问，无需另外安装App。
            .col-md-4.col-sm-4.marketing-content.centered
              img.marketing-icon(src='/img/settings.png', alt='Marketing Icon')
              h4 在线编辑文本、图片与背景
              p.h4
                | 独创的所见即所得编辑器，可随意编辑文本图片并调整位置。10种背景任意更换。

      .container
        .row
            .col-md-12
              hr.content-hr


      section#featurettes
        .container
          .row
            #tour-3.col-md-12.centered.section-title-wrapper
              h2.section-title
                | 牛课件的
                span.normal 新功能
              p.section-subtitle
                | 我们相信HTML5和CSS3驱动的网页App将成为主流。
            .col-md-6.col-sm-6.featurettes-content
              h4
                | 搜索流行课件。
                span.lighter 课件可按浏览量，喜欢次数顺序排列。用户只要选择筛选器后搜索即可。
              img#tour-4.center-image.img-responsive(src='/img/small-screenshot.jpg', alt='feature')

            .col-md-6.col-sm-6.featurettes-content
              h4
                | 全面支持移动端访问。
                span.lighter 随时随地编写或分享，不漏掉每一丝灵感。
              .row.featurettes-inner-section
                #tour-5.col-md-6.col-xs-6
                  .flexslider-featurettes
                    ul.slides
                      li
                        img.center-image(src='/img/iphone-ss1.jpg', alt='feature')
                      li
                        img.center-image(src='/img/iphone-ss2.jpg', alt='feature')
                .col-md-6.col-xs-6
                  ul.checklist
                    li.green-list 完美支持各种云服务器.
                    li.green-list 支持安卓、苹果、微软等手机\平板移动终端。
                    li.green-list 所有HTML页面全部升级采用HTML5技术。
                    li.green-list 保证页面的访问速度和稳定性。


      .container
        .row
          .col-md-12
            hr.content-hr


      section#annotations
        .container
          .row
            .col-md-12.centered.section-title-wrapper
              h2.section-title
                | 让我们来仔细看看
              p.section-subtitle
                | 根据客户需要进行设计的课件编辑器。基于Bootstrap 3的现代设计风格，简单、实用。

            .col-md-12
              a.annotation-link.product-dot1(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='点击此处按钮，可插入文本框，图片框及选择背景。')
              a.annotation-link.product-dot2(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='剪贴板功能按钮区，例如，点击‘撤销’将回退到上一次操作之前的状态。')
              a.annotation-link.product-dot3(href='#', data-toggle='tooltip', data-placement='left', title='', data-original-title='保存按钮, 点击并保存编辑结果。')
              a.annotation-link.product-dot4(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='点击上面的文本框，可编辑其中的文字，并可选在颜色和字体，并可调整字体大小。')
              a.annotation-link.product-dot5(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='在此双箭头上，按住鼠标左键并拖拽，可拉伸图片。')
              a.annotation-link.product-dot6(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='此数值表示当前图片框的位置。')
              a.annotation-link.product-dot7(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='课件快照区，点击‘+’按钮，可创建新的课件页。')
              img#tour-7.center-image.img-responsive(src='/img/big-ss.png', alt='annotation')

      //- .container
      //-   .row
      //-     .col-md-12
      //-       hr.content-hr

      //- section#lower-content
      //-   .container
      //-     .row
      //-       .col-md-12.centered.section-title-wrapper
      //-         h2.section-title
      //-           | 会员等级与
      //-           span.normal 价格表
      //-         p.section-subtitle
      //-           | 立即开通会员，尊享等级特权，让你的课件更火更精彩！

      //-       .col-md-3.col-sm-3.pricing-table.centered
      //-         .pricing-head
      //-           h5 铜牌会员
      //-           .the-price
      //-             h1
      //-               | 0元
      //-               span.subscript /月
      //-             small 永久免费

      //-         .pricing-content
      //-           ul
      //-             li 1 个课件
      //-             li 1000 次浏览量
      //-             li 10MB 存储空间
      //-             li 无Email客服支持
      //-             li 默认账户域名
      //-             li 无周报Email邮件

      //-         .pricing-table-button
      //-           a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      //-       .col-md-3.col-sm-3.pricing-table.centered
      //-         .pricing-head
      //-           h5 银牌会员
      //-           .the-price
      //-             h1
      //-               | 30元
      //-               span.subscript /月
      //-             small 1 个月免费试用

      //-         .pricing-content
      //-           ul
      //-             li 5 个课件
      //-             li 10000 次浏览量
      //-             li 50MB 存储空间
      //-             li 7 X 24 小时Email客服支持
      //-             li 默认账户域名
      //-             li 无周报Email邮件

      //-         .pricing-table-button
      //-           a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      //-       #tour-8.col-md-3.col-sm-3.pricing-table.popular.centered
      //-         .pricing-head
      //-           h5 金牌会员
      //-           .the-price
      //-             h1
      //-               | 100元
      //-               span.subscript /月
      //-             small 1 个月免费试用

      //-         .pricing-content
      //-           ul
      //-             li 15 个课件
      //-             li 50000 次浏览量
      //-             li 200MB 存储空间
      //-             li 7 X 24 小时Email客服支持
      //-             li 默认账户域名
      //-             li 周报Email邮件

      //-         .pricing-table-button
      //-           a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') 注册

      //-       .col-md-3.col-sm-3.pricing-table.centered
      //-         .pricing-head
      //-           h5 白金会员
      //-           .the-price
      //-             h1
      //-               | 300元
      //-               span.subscript /月
      //-             small 1 个月免费试用

      //-         .pricing-content
      //-           ul
      //-             li 无限 个课件
      //-             li 无限 此浏览量
      //-             li 1GB 存储空间
      //-             li 7 X 24 小时Email客服支持
      //-             li 账户域名定制
      //-             li 周报Email邮件

      //-         .pricing-table-button
      //-           a.small-btn.btn-default.green-btn.btn-default.uppercase(href='/signup') 注册

      section#breakline.dark-bg
        .container
          .row
            .col-md-7.col-sm-7
              h3.centered.normal 是否收费？不！牛课件完全免费！！心动了吗？马上开始使用吧！
            #tour-9.col-md-5.col-sm-5
              .row.jumbotron-alfa
                .col-md-6.col-sm-6
                  a.medium-btn.btn-default.btn-primary.pull-right(href='/login') 开始使用！
                .col-md-6.col-sm-6
                  a.medium-btn.btn-default.btn-warning(href='/signup') 没有账户？

    footer
      section#footer
        .container
          .row
            .col-md-6.col-sm-6
              p.copyright
                i.fa.fa-paper-plane-o.fa-lg 牛课件
                | © 版权所有 2014。
                //- 作者：
                //- a(href='http://honglio.github.io') 刘宏
            //-     | 京ICP备【14015371号-1】
            //- .col-md-6.col-sm-6
            //-   ul.social.pull-right
            //-     li
            //-       a(href='http://weibo.com/honglio' target='_blank')
            //-         i.fa.fa-weibo.fa-lg(aria-hidden='true')
            //-     li
            //-       a(href='http://t.qq.com/hong1io' target='_blank')
            //-         i.fa.fa-tencent-weibo.fa-lg(aria-hidden='true')
            //-     li
            //-       a(href='http://www.renren.com/honglio' target='_blank')
            //-         i.fa.fa-renren.fa-lg(aria-hidden='true')
            //-     li
            //-       a(href='http://user.qzone.qq.com/30338995' target='_blank')
            //-         i.fa.fa-qq.fa-lg(aria-hidden='true')
    <!-- build:js(app) /js/vendor.js -->
    script(type='text/javascript', src='/js/vendors/jquery.flexslider-min.js')
    script(type='text/javascript', src='/js/vendors/jquery.prettyPhoto.js')
    script(type='text/javascript', src='/js/vendors/jquery.scrollTo.js')
    script(type='text/javascript', src='/js/vendors/jquery.nav.js')
    script(type='text/javascript', src='/js/vendors/hopscotch-0.1.2.min.js')
    script(type='text/javascript', src='/js/vendors/katemi.js')
    //- script(type='text/javascript', src='/js/vendors/katemi-take-tour2.js')
    <!-- endbuild -->