doctype html
html.js.no-touch
  head
    <!-- qq auth code -->
    <meta property="qc:admins" content="34732662776615326375" />

    include partials/head
    <!-- build:css(built) /css/main.css -->
    link(rel='stylesheet', href='/css/styles.css', type='text/css')
    link(rel='stylesheet', href='/css/style-responsive.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/flexslider.css', type='text/css')
    link(rel='stylesheet', href='/css/lib/hopscotch-0.1.2.min.css', type='text/css', media='screen')
    <!-- endbuild -->

  body
    header
      include partials/navigation

    main
      section#head-banner.img-bg
        .container.noselect
          section#tour-1
            h1.bolder 展书
            h3.lighter 一个书写、展示、分享课件的平台
          .product-teaser
            //- .col-md-3.col-sm-3.left-desc
            p#startTourBtn.product-teaser-title 轻松编写
            p.product-teaser-desc
              | 移动设备支持，随时随地，轻松编写。
            //- #tour-2.col-md-6.col-sm-6
            //-     img.center-image.img-responsive(src='img/ss.jpg', alt='')
            //- .col-md-3.col-sm-3.right-desc
            p.product-teaser-title 酷炫放映
            p.product-teaser-desc
              | 多引擎全屏动态图片，有趣的欢动效果。


      section#marketing(style='margin-top: 60px;')
        .container
          .row
            .col-md-12.col-sm-12.text-center.section-title-wrapper
              h2.section-title
                | 功能介绍
              p.section-subtitle
                | 在网站开发和服务方面的多年经验，竭诚为您提供高质量的课件编写和展示平台。
            .col-md-4.col-sm-4.marketing-content.text-center
              img.marketing-icon(src='/img/keyframes.png', alt='Marketing Icon')
              h4 社交网络
              p.h6
                | 内化交友功能、可关注好友和被关注。朋友圈功能也会陆续开放。
            .col-md-4.col-sm-4.marketing-content.text-center
              img.marketing-icon(src='/img/phone.png', alt='Marketing Icon')
              h4 移动设备
              p.h6
                | 全面支持智能手机和平板电脑可通过浏览器直接访问，无需另外安装App。
            .col-md-4.col-sm-4.marketing-content.text-center
              img.marketing-icon(src='/img/settings.png', alt='Marketing Icon')
              h4 在线编辑
              p.h6
                | 独创的所见即所得编辑器，可随意编辑文本、图片并调整位置。10种背景任意更换。

      .container
        .row
            .col-md-12
              hr.content-hr

      section#featurettes
        .container
          .row
            #tour-3.col-md-12.text-center.section-title-wrapper
              h2.section-title
                | 新特性
              p.section-subtitle
                | 基于HTML5和CSS3，无需安装，直接使用。
            .col-md-6.col-sm-6.featurettes-content
              h4.text-center 微信公众号已开通, 马上关注，全新体验。
              img#tour-4.center-image.img-responsive.img-thumbnail(src='/img/weixinhao.jpg', alt='weixinhao')

            .col-md-6.col-sm-6.featurettes-content
              h4.text-center 全面支持移动端访问。随时随地，与人分享。
              .featurettes-inner-section
                #tour-5.col-md-6.col-sm-6.col-xs-6
                  .flexslider-featurettes
                    ul.slides
                      li
                        img.img-responsive(src='/img/iphone-ss1.jpg', alt='feature')
                      li
                        img.img-responsive(src='/img/iphone-ss2.jpg', alt='feature')
                .col-md-6.col-sm-6.col-xs-6
                  ul.checklist
                    li.green-list 苹果Retina©显示屏支持
                    li.green-list 主流手机\平板电脑支持
                    li.green-list 响应式页面设计
                    li.green-list 数据云端存储


      //- .container
      //-   .row
      //-     .col-md-12
      //-       hr.content-hr
      //- section#annotations
      //-   .container
      //-     .row
      //-       .col-md-12.text-center.section-title-wrapper
      //-         h2.section-title
      //-           | 让我们来仔细看看
      //-         p.section-subtitle
      //-           | 根据客户需要进行设计的课件编辑器。基于Bootstrap 3的现代设计风格，简单、实用。

      //-       .col-md-12
      //-         a.annotation-link.product-dot1(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='点击此处按钮，可插入文本框，图片框及选择背景。')
      //-         a.annotation-link.product-dot2(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='剪贴板功能按钮区，例如，点击‘撤销’将回退到上一次操作之前的状态。')
      //-         a.annotation-link.product-dot3(href='#', data-toggle='tooltip', data-placement='left', title='', data-original-title='保存按钮, 点击并保存编辑结果。')
      //-         a.annotation-link.product-dot4(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='点击上面的文本框，可编辑其中的文字，并可选在颜色和字体，并可调整字体大小。')
      //-         a.annotation-link.product-dot5(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='在此双箭头上，按住鼠标左键并拖拽，可拉伸图片。')
      //-         a.annotation-link.product-dot6(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='此数值表示当前图片框的位置。')
      //-         a.annotation-link.product-dot7(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='课件快照区，点击‘+’按钮，可创建新的课件页。')
      //-         img#tour-7.center-image.img-responsive(src='/img/big-ss.png', alt='annotation')

      section#breakline.dark-bg
        .container
          .row.noselect
            .col-md-8.col-sm-8.vcenter
              h3.text-center 通过选择一个布局模板，你只需10秒钟就可以做出一个看起来超酷的课件, 这相当于一年节省80小时，现在就来给自己放2周的假吧！
            #tour-9.col-md-4.col-sm-4.vcenter
              a.medium-btn.btn-default.btn-primary(href='/articles/explore') 探索展书
              | &nbsp;&nbsp;&nbsp;
              a.medium-btn.btn-default.btn-warning(href='/login') 开始使用
      //- include partials/price-table
    footer
      section.container
        .row
          .col-md-12.text-center
            p.copyright.noselect
              img(src='/img/ico/favicon-16x16.png')
              |  展书
              | © 版权所有 2014-2015。
              //- | 作者：
              //- a(href='http://honglio.github.io') 刘宏
              | 京ICP备【14015371号-1】
          //- .col-md-6.col-sm-6
          //-   ul.social.pull-right
          //-     li
          //-       a(href='http://weibo.com/honglio' target='_blank')
          //-         i.fa.fa-weibo.fa-lg(aria-hidden='true')
          //-     li
          //-       a(href='http://t.qq.com/hong1io' target='_blank')
          //-         i.fa.fa-tencent-weibo.fa-lg(aria-hidden='true')
          //-     li
          //-       a(href='http://www.renren.com/honglio' target='_blank')
          //-         i.fa.fa-renren.fa-lg(aria-hidden='true')
          //-     li
          //-       a(href='http://user.qzone.qq.com/30338995' target='_blank')
          //-         i.fa.fa-qq.fa-lg(aria-hidden='true')
    <!-- build:js(app) /js/vendor.js -->
    script(type='text/javascript', src='/js/vendors/jquery.flexslider-min.js')
    script(type='text/javascript', src='/js/vendors/jquery.scrollTo.js')
    script(type='text/javascript', src='/js/vendors/jquery.nav.js')
    script(type='text/javascript', src='/js/vendors/hopscotch-0.1.2.min.js')
    script(type='text/javascript', src='/js/vendors/katemi.js')
    //- script(type='text/javascript', src='/js/vendors/katemi-take-tour2.js')
    <!-- endbuild -->
