extends layout

block content

  section#head-banner.dark-bg
    .container
        .row
          #tour-1.col-md-12
            h1.tagline.centered.normal
              | Welcome to
              span.bolder Katemi
            h3.centered.lighter Perfect Landing Page Template for Your Products or Apps
          .col-md-12.head-cta
            .row
              .col-md-6.col-sm-6.col-xs-6
                a#startTourBtn.medium-btn.btn-default.green-btn.btn-default.pull-right(href='#') Take a Tour
              .col-md-6.col-sm-6.col-xs-6
                a.medium-btn.btn-default.yellow-btn.btn-default.pull-left(href='#') Get The App
          .col-md-12.product-teaser
            .row
              .col-md-3.col-sm-3.left-desc
                p.product-teaser-title Lorem ipsum dolor sit amet
                p.product-teaser-desc
                  | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est commodo.
              #tour-2.col-md-6.col-sm-6
                a(href='http://youtu.be/SZEflIVnhH8', rel='prettyPhoto', title='Video Lightbox')
                  // Link to your youtube/vimeo video
                  span.play-button.animated.bounceIn
                  img.center-image.img-responsive(src='img/ss.png', alt='product-teaser')
              .col-md-3.col-sm-3.right-desc
                p.product-teaser-title Lorem ipsum dolor sit amet
                p.product-teaser-desc
                  | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est commodo.


  section#marketing(style='margin-top: 60px;')
    .container
      .row
        .col-md-12.col-sm-12.centered.section-title-wrapper
          h3.section-title
            | What Will You Get
            span.normal From Katemi
          p.section-subtitle
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
        .col-md-4.col-sm-4.marketing-content.centered
          img.marketing-icon(src='img/keyframes.png', alt='Marketing Icon')
          h5 Engaging Landing Page
          p
            | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        .col-md-4.col-sm-4.marketing-content.centered
          img.marketing-icon(src='img/phone.png', alt='Marketing Icon')
          h5 Fully Responsive Layout
          p
            | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
        .col-md-4.col-sm-4.marketing-content.centered
          img.marketing-icon(src='img/settings.png', alt='Marketing Icon')
          h5 Easy to Customize
          p
            | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.


  .container
    .row
        .col-md-12
          hr.content-hr


  section#featurettes
    .container
      .row
        #tour-3.col-md-12.centered.section-title-wrapper
          h3.section-title
            | See All New
            span.normal Katemi Features
          p.section-subtitle
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
        .col-md-6.col-sm-6.featurettes-content
          h4
            | Pro Support.
            span.lighter All your problems will solved quickly with Live Chat support.
          a(href='img/teehanlax.jpg', rel='prettyPhoto[gallery]', title='You can add caption to pictures.')
            span.col-md-6.rollover
            img#tour-4.center-image.img-responsive(src='img/screenshot.png', alt='feature')
          p
            | Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum.
          a.large-link(href='#') Learn More
        .col-md-6.col-sm-6.featurettes-content
          h4
            | Mobile First.
            span.lighter Never lose your potential customer, sign them on the go.
          .row.featurettes-inner-section
            #tour-5.col-md-6.col-xs-6
              .flexslider-featurettes
                ul.slides
                  li
                    img.center-image(src='img/iphone-ss1.png', alt='feature')
                  li
                    img.center-image(src='img/iphone-ss2.png', alt='feature')
            .col-md-6.col-xs-6
              ul.checklist
                li.green-list Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li.green-list Nullam quis risus eget urna leo.
                li.green-list Pellentesque ornare sem lacinia quam venenatis vestibulum.
                li.green-list Nullam quis risus eget urna leo.
          p
            | Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum.
          a.large-link(href='#') Learn More


  .container
    .row
      .col-md-12
        hr.content-hr


  section#annotations
    .container
      .row
        .col-md-12.centered.section-title-wrapper
          h3.section-title
            | Let's Take a Closer Look
          p.section-subtitle
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.

        .col-md-12
          a.annotation-link.product-dot1(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Pharetra Mattis Vestibulum Fringilla Fusce')
          a.annotation-link.product-dot2(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.')
          a.annotation-link.product-dot3(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='Cras mattis consectetur purus sit amet fermentum.')
          a.annotation-link.product-dot4(href='#', data-toggle='tooltip', data-placement='left', title='', data-original-title='Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.')
          a.annotation-link.product-dot5(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.')
          a.annotation-link.product-dot6(href='#', data-toggle='tooltip', data-placement='right', title='', data-original-title='Cras mattis consectetur purus sit amet fermentum.')
          a.annotation-link.product-dot7(href='#', data-toggle='tooltip', data-placement='left', title='', data-original-title='Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.')
          a.annotation-link.product-dot8(href='#', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.')
          img#tour-7.center-image.img-responsive(src='img/big-ss.png', alt='annotation')

  .container
    .row
      .col-md-12
        hr.content-hr
  section#lower-content
    .container
      .row
        .col-md-12.centered.section-title-wrapper
          h3.section-title
            | See Plans
            span.normal and Pricing
          p.section-subtitle
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.

        .col-md-3.col-sm-3.pricing-table.centered
          .pricing-head
            h5 FREE
            .the-price
              h1
                | $0
                span.subscript /mo
              small for ever & ever

          .pricing-content
            ul
              li 1 Article
              li 1000 Views
              li 10MB Storage
              li No Email Support
              li Default Domain
              li No Reports

          .pricing-table-button
            a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') Sign Up

        .col-md-3.col-sm-3.pricing-table.centered
          .pricing-head
            h5 MINI
            .the-price
              h1
                | $5
                span.subscript /mo
              small 1 month FREE trial

          .pricing-content
            ul
              li 5 Article
              li 10000 views
              li 50MB Storage
              li 24/7 Email Support
              li Default Domain
              li No Reports

          .pricing-table-button
            a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') Sign Up

        #tour-8.col-md-3.col-sm-3.pricing-table.popular.centered
          .pricing-head
            h5 SMALL
            .the-price
              h1
                | $14
                span.subscript /mo
              small 1 month FREE trial

          .pricing-content
            ul
              li 15 Article
              li 50000 views
              li 200MB Storage
              li 24/7 Email Support
              li Default Domain
              li Weekly Reports

          .pricing-table-button
            a.small-btn.btn-default.green-btn.btn-default.uppercase(href='signup') Sign Up

        .col-md-3.col-sm-3.pricing-table.centered
          .pricing-head
            h5 MEDIUM
            .the-price
              h1
                | $36
                span.subscript /mo
              small 1 month FREE trial

          .pricing-content
            ul
              li Unlimited Article
              li Unlimited views
              li 1GB Storage
              li 24/7 Email Support
              li Custom Domain
              li Weekly Reports

          .pricing-table-button
            a.small-btn.btn-default.green-btn.btn-default.uppercase(href='/signup') Sign Up

  section#breakline.dark-bg
    .container
      .row
        .col-md-7.col-sm-7
          h3.centered.normal Subscribe and be the first to know all updates and special offers!
        #tour-9.col-md-5.col-sm-5
          form#subscribe_form(action='/subscribe', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input#subscribe_email.subscribe-input(placeholder='Enter your valid email address...', type='text', value='', name='email')
            input#subscribe_btn.subscribe-submit.yellow-btn.btn-default(type='submit', value='Subscribe')

          p.subscribe-text.centered * Don't worry to subscribe. We hate spam too!