doctype html
html.js.no-touch
  head
    include partials/head
    block head
    <!-- build:css(built) /css/core.css -->
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    //- link(rel='stylesheet', href='/css/themes/ios7.css', type='text/css')
    <!-- endbuild -->

  body
    header
        include partials/navigation
        include partials/flash
        include partials/contact-form

    main
        block content

    footer
        include partials/footer

    block scripts
        script(type='text/javascript' src='/js/vendors/validator.min.js')
        script(type='text/javascript' src="/js/vendors/jquery.flowtype.js")
        script(type='text/javascript' src="/js/general.js")

