doctype html
html.js.no-touch
  head
    include partials/head
    link(rel='stylesheet', href='/css/neon.css')
    link(rel='stylesheet', href='/css/neon-core.css', type='text/css')
    link(rel='stylesheet', href='/css/base.css', type='text/css')
    block head

  body
    header
        include partials/navigation
        include partials/flash

    main
        block content

    footer
        include partials/footer

    script(type='text/javascript', src='/js/vendors/gsap/main-gsap.js')
    script(type='text/javascript', src='/js/vendors/neon-custom.js')
    block scripts
