doctype html
html.js.no-touch
  head
    include partials/head
    block head
    link(rel='stylesheet', href='/css/neon.css')
    link(rel='stylesheet', href='/css/neon-core.css', type='text/css')


  body
    header
        include partials/navigation
        include partials/flash
        include partials/contact-form

    main
        block content

    footer
        include partials/footer

    block scripts
    script(type='text/javascript', src='/js/vendors/gsap/main-gsap.js')
    script(type='text/javascript', src='/js/vendors/neon-custom.js')

