<ul class="dropdown-menu" role="menu">
    {{#backgrounds}}
    <li class="{{klass}} thumbnail pull-left">
        <a alt="{{description}}" data-class="{{klass}}"></a>
    </li>
    {{/backgrounds}}
    <li class="pull-left">
        <a class="nobg thumbnail" data-class="defaultbg"></a>
    </li>
</ul>
