{{#backgrounds}}
<li class="{{klass}} thumbnail pull-left">
    <a alt="{{description}}" data-class="{{klass}}"></a>
</li>
{{/backgrounds}}
<li class="btn btn-default pull-left img-bg">
    <a class="fa fa-image" data-class="img-bg"></a>
</li>