<ul class="dropdown-menu" role="menu">
    {{#backgrounds}}
    <li class="{{klass}} thumbnail pull-left">
        <a alt="{{description}}" data-class="{{klass}}"></a>
    </li>
    {{/backgrounds}}
</ul>
