<div class="content-scale">
    <div class="content"></div>
</div>
{{!-- <span class="leftLabel label">
    <span class="scale" data-delta="scale">
      <i class="glyphicon glyphicon-resize-small"></i>
    </span>
</span> --}}
<a class="btn btn-warning remove-icon"><i class="fa fa-times-circle fa-2x"></i></a>
