<div class="content-scale">
    <div class="content"></div>
</div>
<span class="topLabel label">
    <span class="skewx" data-delta="skewX"></span>
    <span class="rotate" data-delta="rotate">↻</span>
</span>
<span class="leftLabel label">
    <span class="label align" data-option="x"></span>
    <span class="skewy" data-delta="skewY"></span>
    <span class="scale" data-delta="scale">↔</span>
</span>
<span class="remove-icon"><i class="icon-remove-circle icon-2x"></i></span>
<div class="positioningCtrls form-inline">
    <!-- <span class="label leftposition">→</span>
    <input class="position" type="text" data-option="x" value="{{x}}" />
    <span class="label bottomposition">↑</span>
    <input class="position" type="text" data-option="y" value="{{y}}" /> -->
</div>
