<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="create-comp-buttons">
                <div class="btn-group">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="clipboard-action-buttons">
                <div class="btn-group">
                    <i class="icon-undo"></i> <strong>撤销</strong>
                    <i class="icon-repeat"></i> <strong>重复</strong>
                    <i class="icon-copy"></i> <strong>拷贝</strong>
                    <i class="icon-paste"></i> <strong>粘贴</strong>
                    <i class="icon-cut"></i> <strong>剪切</strong>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="screen-help-buttons">
                <div class="btn-group">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="save-button">
            </div>
        </div>
        </div>
    </div>
</div>
