<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="present-button">
                </li>
            </ul>

            <ul class="nav">
                <li class="create-comp-buttons">
                    <div class="btn-group">
                    </div>
                </li>
            </ul>

            <ul class="nav">
                <li class="clipboard-action-buttons">
                    <div class="btn-group">
                        <i class="icon-undo"></i> <strong>撤销</strong>
                        <i class="icon-repeat"></i> <strong>重复</strong>
                        <i class="icon-copy"></i> <strong>拷贝</strong>
                        <i class="icon-paste"></i> <strong>粘贴</strong>
                        <i class="icon-cut"></i> <strong>剪切</strong>
                    </div>
                </li>
            </ul>

            <ul class="nav">
                <li class='theme-buttons'></li>
            </ul>

            <ul class="nav">
                <li class="screen-help-buttons">
                    <div class="btn-group">
                    </div>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li class="save-button">
                </li>
            </ul>
        </div>
    </div>
</div>
