<div class="container-fluid editor-header">
    <div class="row">
        <div class="col-xs-3 nopadding">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body create-comp-buttons">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-5 nopadding">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body clipboard-action-buttons">
                    <div class="btn-group">
                        <a class="btn btn-default btn-icon icon-left undo">
                            <i class="fa fa-undo icon-undo"></i> {{!--
                            <strong>撤销</strong> --}}
                        </a>
                        <a class="btn btn-default btn-icon icon-left redo">
                            <i class="fa fa-repeat icon-repeat"></i> {{!--
                            <strong>重复</strong> --}}
                        </a>
                        <a class="btn btn-default btn-icon icon-left copy">
                            <i class="fa fa-copy icon-copy"></i> {{!--
                            <strong>拷贝</strong> --}}
                        </a>
                        <a class="btn btn-default btn-icon icon-left paste">
                            <i class="fa fa-paste icon-paste"></i> {{!--
                            <strong>粘贴</strong> --}}
                        </a>
                        <a class="btn btn-default btn-icon icon-left cut">
                            <i class="fa fa-cut icon-cut"></i> {{!--
                            <strong>剪切</strong> --}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 nopadding">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body screen-help-buttons">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-1 nopadding">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body save-button"></div>
            </div>
        </div>
    </div>
</div>
</div>