<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-star"></span>
                {{title}}
            </h4>
        </div>
        <div class="modal-body">
            <form name="nameDialog" role="form">
                <div class="form-group input-group-lg">
                    <label class="control-label" for="filename">课件名:</label>
                    <input type="text" class="form-control" name="filename" value="{{filename}}">
                    <span class="help-block">输入此课件的文件名.</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <span class="alert hide"></span>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary ok" disabled="disabled">保存</button>
        </div>
    </div>
</div>