extends ../layout

block content
  .container
    section.page-header
    section.row
      .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
        .panel.panel-warning
          .panel-heading
            h5.text-center.panel-title.bolder= title
          .panel-body
            h5.text-center 输入您的Email地址，我们将发送确认信到您的邮箱中。
            form.form-horizontal(role='forgot' method='POST')
              input(type='hidden' name='_csrf' value=_csrf)
              .form-group
                label.col-md-3.control-label(for='email') Email
                .col-md-8
                  input.form-control(type='email' name='email' placeholder='Email' autofocus required)
              .form-group
                .col-md-6.col-md-offset-3
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-key
                    | 重置密码
