extends ../layout

block content
  .container
    section.page-header
    section.row
      .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3.noselect
        .panel.panel-default
          .panel-heading
            h5.text-center.panel-title.bolder= title
          .panel-body
            form.form-horizontal(role='reset' action='/account/password' method='POST' onsubmit="return validateForm(this);" novalidate)
              input(type='hidden' name='_csrf' value=_csrf)
              .form-group
                label.col-md-3.control-label(for='password') 新密码:
                .col-md-9
                  input#password.form-control(type='password' name='password' placeholder='6-14位英文字母或数字' data-toggle="popover" autofocus required)
              .form-group
                label.col-md-3.control-label(for='confirm') 确认新密码:
                .col-md-9
                  input#confirmPassword.form-control(type='password' name='confirm' placeholder='输入相同的密码' data-toggle="popover" required)
              .form-group
                .col-md-6.col-md-offset-3
                  button.btn.btn-warning.btn-reset.btn-addon(type='submit')
                    i.fa.fa-keyboard-o
                    |  修改密码
        .panel.panel-primary
          .panel-heading
            h5.panel-title.bolder 关联账户
          .panel-body
            if user.qq
              p: a.btn.btn-danger.btn-addon(href='/account/unlink/qq')
                i.fa.fa-unlink
                | 取消 QQ 关联
            else
              p: a.btn.btn-info.btn-addon(href='/auth/qq')
                i.fa.fa-link
                | 关联 QQ 账户
            if user.weibo
              p: a.btn.btn-danger.btn-addon(href='/account/unlink/weibo')
                i.fa.fa-unlink
                | 取消 Weibo 关联
            else
              p: a.btn.btn-warning.btn-addon(href='/auth/weibo')
                i.fa.fa-link
                | 关联 Weibo 账户
            if user.renren
              p: a.btn.btn-danger.btn-addon(href='/account/unlink/renren')
                i.fa.fa-unlink
                | 取消 Renren 关联
            else
              p: a.btn.btn-dark.btn-addon(href='/auth/renren')
                i.fa.fa-link
                | 关联 Renren 账户
            if user.linkedin
              p: a.btn.btn-danger.btn-addon(href='/account/unlink/linkedin')
                i.fa.fa-unlink
                | 取消 LinkedIn 关联
            else
              p: a.btn.btn-success.btn-addon(href='/auth/linkedin')
                i.fa.fa-link
                | 关联 LinkedIn 账户
        .panel.panel-danger
          .panel-heading
            h5.panel-title.bolder 删除账户
          .panel-body
            p.text-danger 您在删除自己的账户, 账户一旦删除，将不可恢复。账户中的所有数据将丢失！
            form.form-group(action='/account/delete', method='POST' onsubmit="return confirm('你确定吗?')")
              input(type='hidden', name='_csrf', value=_csrf)
              button.btn.btn-danger.btn-addon(type='submit')
                i.fa.fa-trash-o
                |  删除我的账户
