# This is only an EXAMPLE file, you must create and copy to env.local.sh for it to work
#
# Vagrant environment variable overrides
#
# Values in this file take precedence over Vagrant defaults

# Change the host ports which Vagrant uses
#export VAGRANT_NODEJS_HOST_PORT=3001
#export VAGRANT_PG_HOST_PORT=1432

# Component building
#export KLSG_MINIFY_BUILDS=false

# Arbitrary commands can be executed too
#git config --global user.name "Your Name"
#git config --global user.email "your@email.com"

#export KLSG_PRETTY_RENDER=true
