packages:
  yum:
    stackdriver-agent: []
files:
  "/etc/sysconfig/stackdriver" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      AUTOGENERATE_COLLECTD_CONFIG="yes"
      STACKDRIVER_API_KEY="9OCJZ9UMKHAKKLO2WZMZWSX0XASSVBZ6"
services:
  sysvinit:
    stackdriver-agent:
      enabled: true
      ensureRunning: true
      files: "/etc/sysconfig/stackdriver"