/************************************************************************************************************************/
/* General Typography */
/************************************************************************************************************************/
/* Font Size */

body {
    font-size: 15px;
}

p,
ul,
li,
.advert-ul-one li {
    font-size: 14px;
    font-weight: 300;
}

h1,
.h1 {
    font-size: 28px;
    font-weight: 500;
}

h2,
.h2 {
    font-size: 26px;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 22px;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 20px;
    font-weight: 500;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: 500;
}

.img-comment {
    font-size: 18px;
}

.lead {
    font-size: 26px;
}

blockquote p {
    font-size: 15px;
}

blockquote small {
    font-size: 13px;
}

pre {
    font-size: 13px;
}

.btn {
    font-size: 15px;
}

.btn-hg {
    font-size: 22px;
    line-height: 1.227;
}

.btn-lg {
    font-size: 17px;
}

.btn-sm {
    font-size: 13px;
}

.btn-xs {
    font-size: 12px;
}

.sidebar ul li a,
.sidebar ul li {
    font-size: 14px;
    font-weight: 400;
}
/* Line Height */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.32222;
}

body,
.img-comment,
p,
dt,
dd,
blockquote small,
address,
pre,
.input-sm,
.input-lg,
.input-hg,
.input-group-hg > .form-control,
.input-group-hg > .input-group-addon,
.input-group-hg > .input-group-btn > .btn,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.has-switch {
    line-height: 1.62222;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    padding: 40px 0;
}
/************************************************************************************************************************/
/* General */
/************************************************************************************************************************/
/* All Modul Space Setting */

.modul-space {
    padding-top: 100px;
    padding-bottom: 100px;
}

.modul-space-two {
    padding-top: 95px;
    padding-bottom: 100px;
}

.modul-space-three {
    padding-top: 80px;
    padding-bottom: 100px;
}

.modul-space-four {
    padding-top: 60px;
    padding-bottom: 100px;
}

.modul-space-five {
    padding-top: 60px;
    padding-bottom: 86px;
}

.modul-space-six {
    padding-top: 60px;
    padding-bottom: 78px;
}

.modul-space-seven {
    padding-top: 60px;
    padding-bottom: 0;
}

.modul-space-eight {
    padding-top: 60px;
    padding-bottom: 100px;
}

.modul-space-nine {
    padding-top: 60px;
    padding-bottom: 0;
}

.modul-space-ten {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
}

.modul-space-eleven {
    padding-top: 60px;
    padding-bottom: 65px;
}

.modul-space-twelve {
    padding-top: 60px;
    padding-bottom: 70px;
}

.modul-space-thirteen {
    padding-top: 66px;
    padding-bottom: 53px;
}

.modul-space-fourteen {
    padding-top: 100px;
    padding-bottom: 0;
}

.modul-space-fifteen {
    padding-top: 30px;
    padding-bottom: 30px;
}

.modul-space-sixteen {
    padding-top: 100px;
    padding-bottom: 30px;
}

.modul-space-seventeen {
    padding-top: 103px;
    padding-bottom: 76px;
}

.modul-space-eightteen {
    padding-top: 78px;
    padding-bottom: 80px;
}

.modul-space-nineteen {
    padding-top: 100px;
    padding-bottom: 70px;
}

.modul-space-twentyteen {
    padding-top: 100px;
    padding-bottom: 0;
}

.modul-space-twentyone {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 70px;
    padding-left: 30px;
}

.modul-space-twentytwo {
    padding-top: 100px;
    padding-bottom: 54px;
}

.modul-space-twentythree {
    padding-top: 100px;
    padding-bottom: 100px;
}

.modul-space-twentyfour {
    padding-top: 100px;
    padding-bottom: 76px;
}

.modul-space-twentyfive {
    padding-top: 85px;
    padding-bottom: 65px;
}

.modul-space-twentysix {
    padding-top: 100px;
    padding-bottom: 80px;
}

.modul-space-twentyseven {
    padding-top: 1px;
    padding-bottom: 3px;
}

.modul-space-twentyeight {
    padding-top: 104px;
    padding-bottom: 100px;
}

.modul-space-twentynine {
    padding-top: 0;
    padding-bottom: 7px;
}

.modul-space-thirtyone {
    padding-top: 0;
    padding-bottom: 27px;
}

.modul-space-thirtytwo {
    padding-top: 40px;
    padding-bottom: 0;
}

.modul-space-thirtythree {
    padding-top: 24px;
    padding-bottom: 10px;
}

.modul-big-space {
    padding-top: 148px;
    padding-bottom: 115px;
}

@media (max-width: 979px) {
    .modul-phone {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .modul-phone-two {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .modul-phone-three {
        margin-top: 0;
        margin-bottom: 80px;
    }
    .modul-phone-four {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .modul-big-space {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: -36px;
    }
    .modul-space-two {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .modul-space-three {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .modul-space-four {
        padding-top: 34px;
        padding-bottom: 100px;
    }
    .modul-space-six {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .modul-space-seven {
        padding-top: 60px;
        padding-bottom: 0;
    }
    .modul-space-eight {
        padding-top: 58px;
        padding-bottom: 74px;
    }
    .advert-phone {
        margin-top: 50px;
    }
    .advert-list-one {
        margin-bottom: 47px;
    }
    .advert-one-image img {
        margin-bottom: 38px;
        clear: both;
    }
}

@media (max-width: 767px) {
    .modul-phone {
        min-height: 400px;
        ;
    }
}
/************************************************************************************************************************/
/* Portfolio Module (Elements) */
/************************************************************************************************************************/
/* Portfolio Module One */

.portfolio-filter-one ul li {
    min-width: 120px;
    margin-right: 10px;
    margin-bottom: 35px;
    text-align: center;
}

.portfolio-filter-one ul li:last-child {
    margin-right: 38px;
}

.portfolio-filter-one {
    text-align: center;
}

.portfolio-filter-two ul li {
    min-width: 120px;
    margin-right: 10px;
    margin-bottom: 35px;
    text-align: center;
}

.portfolio-filter-two ul li:last-child {
    margin-right: 38px;
}

.portfolio-filter-two {
    margin-left: -40px;
    text-align: left;
}

.portlio-list {
    margin-bottom: 30px;
    text-align: center;
}

.portlio-list h6 {
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.portlio-list p {
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 25px;
    font-style: italic;
}

.portlio-list-img {
    width: 100%;
}
/************************************************************************************************************************/
/* CSS Effects */
/************************************************************************************************************************/
/* Image Hover */

.grid {
    text-align: center;
}

.grid figure {
    position: relative;
    display: inline-block;
    text-align: left;
}

.grid figure img {
    position: relative;
}

.grid figcaption {
    position: absolute;
    padding: 20px;
}

.grid figcaption h6 {
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: 700;
}

.grid figcaption p {
    font-style: italic;
}
/* Individual Caption Styles */
/* Caption Style 1 */

.cs-style-1 figcaption {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
       -moz-transition:    -moz-transform 0.3s, opacity 0.3s;
            transition:         transform 0.3s, opacity 0.3s;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translate(15px, 15px);
       -moz-transform: translate(15px, 15px);
        -ms-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
    margin-top: 70px;
}

.cs-style-1 figcaption span {
    display: block;
}

.cs-style-1 figcaption a {
    margin-top: 30px;
}
/* Caption Style 2 */

.cs-style-2 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition:    -moz-transform 0.4s;
            transition:         transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
    -webkit-transform: translateY(-80px);
       -moz-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
}

.cs-style-2 figcaption {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.cs-style-2 figcaption a {
    margin-top: 0;
    margin-right: 6px;
    margin-left: 6px;
}
/* Caption Style 3 */

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition:    -moz-transform 0.4s;
            transition:         transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img,
.no-touch .cs-style-3 figure:hover .blog-date-circle {
    -webkit-transform: translateY(-50px);
       -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
}

.cs-style-3 figcaption {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.1s 0.3s;
            transition:         transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.1s;
            transition:         transform 0.4s, opacity 0.1s;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

.cs-style-3 figcaption a {
    position: relative;
    margin-left: 5px;
}

.image-buttons {
    text-align: center;
}

.image-buttons-two {
    margin-top: -65px;
}

.image-buttons-three {
    margin-top: 8px;
    margin-left: -5px;
    text-align: center;
}

.blog-date-circle {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60px;
    height: 60px;
    margin: -36px 0 0 24px;
    border-radius: 50%;
    opacity: 0.8;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.1s 0.3s;
            transition:         transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}
/* Caption Style 4 */

.cs-style-4 li {
    -webkit-perspective: 1700px;
       -moz-perspective: 1700px;
            perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
       -moz-perspective-origin: 0 50%;
            perspective-origin: 0 50%;
}

.cs-style-4 figure {
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.cs-style-4 figure > div {
    overflow: hidden;
}

.cs-style-4 figure img {
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition:    -moz-transform 0.4s;
            transition:         transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
    -webkit-transform: translateX(25%);
       -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
            transform: translateX(25%);
}

.cs-style-4 figcaption {
    width: 50%;
    height: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.1s 0.3s;
            transition:         transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.1s;
            transition:         transform 0.4s, opacity 0.1s;
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.cs-style-4 figcaption a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/* Caption Style 5 */

.cs-style-5 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition:    -moz-transform 0.4s;
            transition:         transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
    -webkit-transform: scale(0.4);
       -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
}

.cs-style-5 figcaption {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
       -moz-transition:    -moz-transform 0.4s, opacity 0.4s;
            transition:         transform 0.4s, opacity 0.4s;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.cs-style-5 figure a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/* Caption Style 6 */

.cs-style-6 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition:    -moz-transform 0.4s;
            transition:         transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
    -webkit-transform: translateY(-50px) scale(0.5);
       -moz-transform: translateY(-50px) scale(0.5);
        -ms-transform: translateY(-50px) scale(0.5);
            transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
    width: 100%;
    height: 100%;
}

.cs-style-6 figcaption h3 {
    margin-top: 60%;
}

.cs-style-6 figcaption a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/* Caption Style 7 */

.cs-style-7 li:first-child {
    z-index: 6;
}

.cs-style-7 li:nth-child(2) {
    z-index: 5;
}

.cs-style-7 li:nth-child(3) {
    z-index: 4;
}

.cs-style-7 li:nth-child(4) {
    z-index: 3;
}

.cs-style-7 li:nth-child(5) {
    z-index: 2;
}

.cs-style-7 li:nth-child(6) {
    z-index: 1;
}

.cs-style-7 figure img {
    z-index: 10;
}

.cs-style-7 figcaption {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0 #2c3f52;
    opacity: 0;
    -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
       -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
            transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.no-touch .cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
    height: 130%;
    box-shadow: 0 0 0 10px #2c3f52;
    opacity: 1;
}

.cs-style-7 figcaption h3 {
    margin-top: 86%;
}

.cs-style-7 figcaption h3,
.cs-style-7 figcaption span,
.cs-style-7 figcaption a {
    opacity: 0;
    -webkit-transition: opacity 0s;
       -moz-transition: opacity 0s;
            transition: opacity 0s;
}

.cs-style-7 figcaption a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.2s;
       -moz-transition: opacity 0.3s 0.2s;
            transition: opacity 0.3s 0.2s;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}
/* initially hide animatable objects */

.animatable {
    visibility: hidden;
}
/* show objects being animated */

.animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}
/* CSS Animations (extracted from http://glifo.uiparade.com/) */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(20px);
    }
    80% {
        -webkit-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    60% {
        -moz-transform: translateX(20px);
    }
    80% {
        -moz-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(20px);
    }
    80% {
        -o-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        -webkit-transform: translateX(-20px);
    }
    80% {
        -webkit-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
    60% {
        -moz-transform: translateX(-20px);
    }
    80% {
        -moz-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
    60% {
        -o-transform: translateX(-20px);
    }
    80% {
        -o-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        transform: translateX(-20px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(0.3);
    }
    50% {
        -moz-transform: scale(1.05);
    }
    70% {
        -moz-transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(0.3);
    }
    50% {
        -o-transform: scale(1.05);
    }
    70% {
        -o-transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes moveUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes moveUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes moveUp {
    0% {
        opacity: 1;
        -o-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeBgColor {
    0% {
        background: none;
    }
    70% {
        background: none;
    }
    100% {
        background: #46474d;
    }
}

.animationDelay {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

.animationDelayMed {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.animationDelayLong {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}

.fadeBgColor {
    -webkit-animation-name: fadeBgColor;
       -moz-animation-name: fadeBgColor;
         -o-animation-name: fadeBgColor;
            animation-name: fadeBgColor;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
       -moz-animation-name: bounceIn;
         -o-animation-name: bounceIn;
            animation-name: bounceIn;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
       -moz-animation-name: bounceInRight;
         -o-animation-name: bounceInRight;
            animation-name: bounceInRight;
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
       -moz-animation-name: bounceInLeft;
         -o-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
       -moz-animation-name: fadeIn;
         -o-animation-name: fadeIn;
            animation-name: fadeIn;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
         -o-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
       -moz-animation-name: fadeInUp;
         -o-animation-name: fadeInUp;
            animation-name: fadeInUp;
}

.moveUp {
    -webkit-animation-name: moveUp;
       -moz-animation-name: moveUp;
         -o-animation-name: moveUp;
            animation-name: moveUp;
}

@media (max-width: 987px) {
    .nav-finish {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .fa {
        margin-right: 0;
    }
    .error-template h1 {
        margin-top: 50px;
        font-size: 900%;
    }
    .big-title {
        text-align: center;
    }
    .portfolio-filter-one .btn-primary {
        display: inline-block;
    }
    .portfolio-filter-one ul li:last-child {
        margin-right: 10px;
    }
    .portlio-list h6 {
        margin-top: -80px;
    }
}
