.slideWell .scrollbar {
    position: relative;
}

.slideWell .slideSnapshot .badge:before {
    counter-increment: slideSnapshot;
    content: counter(slideSnapshot);
}

.slideWell .slideSnapshot {
    width: 120px;
    height: 78px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px rgba(black, 0.5);
}

.slideWell {
    float: left;
    -ms-overflow-y: auto;
    overflow-y: auto;
    width: 150px;
    position: relative;
    margin-right: 2px;
    background: #E3E7ED;
    counter-reset: slideSnapshot;
}

.ui-sortable-helper {
    /*transition*/
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    /*animation-name*/
    
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -ms-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    /*animation-duration*/
    
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    /*animation-direction*/
    
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    /*animation-iteration-count*/
    
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    100% {
        /*transform*/
        
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}