option_settings:

  - option_name: NEW_RELIC_APP_NAME
    value: AWS-Staging

  - option_name: LOG_ERRORS
    value: false

  - option_name: NKJ_ROBOTS_TXT
    value: block_all

  - option_name: HEAP_TOKEN
    value: 1655758263

  - option_name: HEAP_ENABLED
    value: true

  - option_name: LOGENTRIES_ENABLED
    value: true

  - option_name: NKJ_BING_KEY
    value: mYWkXdpPJuREXcKdkafZqkK6qkstnOZ4pD39y2MeQEw=

  - option_name: REDIS_ENABLED
    value: true

  - option_name: REDIS_HOST
    value: nkj-staging.cp31gk.0001.apse1.cache.amazonaws.com

  - option_name: NKJ_ASSET_EXPIRE_S
    value: 30

  - option_name: NKJ_ROBOTS_HOSTNAME
    value: staging.niukj.com

  - option_name: KLSG_MAP_TILES
    value: niukj.OSMChina

  - option_name: CALIPER_ENABLED
    value: true

