files:
  "/etc/rsyslog.d/logentries.conf" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      $template LogentriesFormat,"d2f2a52a-72d0-40fc-8f2c-f8741c5aaff7 %TIMESTAMP% %HOSTNAME% %syslogtag%%msg%\n"
      *.* @@api.logentries.com:10000;LogentriesFormat
  "/etc/rsyslog.d/loggly.conf":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [f655f32c-44d8-43c8-b69c-3346db2b4642@41058 tag=\"TAG\"] %msg%\n"
      *.* @@logs-01.loggly.com:514;LogglyFormat
commands:
  rsyslog_restart:
    command: service rsyslog restart