<div class="btn-group">
    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" title="字体大小"><span class="text fontSizeReadout">大</span>
		<span class="caret"></span></a>
    <ul class="dropdown-menu menuBarOption" data-option="fontSize">
        <li>
            <a href="#" data-value="72">大</a>
            <a href="#" data-value="48">中</a>
            <a href="#" data-value="36">小</a>
        </li>
    </ul>
</div>