<div class="btn-group">
    <button class="btn btn-inverse dropdown-toggle fontFamilyBtn" data-toggle="dropdown" title="选择字体">
      <span class="text">宋体</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu menuBarOption" data-option="fontFamily">
        <li>
            {{! <a class="lato" href="#" data-value="'Lato', sans-serif">Lato</a>}}

            <a class="黑体" href="#" data-value="'黑体', sans-serif">黑体</a>
            <a class="宋体" href="#" data-value="'宋体', sans-serif">宋体</a>
            <a class="楷体" href="#" data-value="'楷体', cursive">楷体</a>
            <a class="魏碑" href="#" data-value="'魏碑', cursive">魏碑</a>
        </li>
    </ul>
</div>