option_settings:

  - option_name: NEW_RELIC_APP_NAME
    value: AWS-Production

  - option_name: LOG_ERRORS
    value: false

  - option_name: KLSG_ROBOTS_TXT
    value: block_archivers

  - option_name: HEAP_TOKEN
    value: 579102418

  - option_name: HEAP_ENABLED
    value: true

  - option_name: LOGENTRIES_ENABLED
    value: true

  - option_name: KLSG_BING_KEY
    value: mYWkXdpPJuREXcKdkafZqkK6qkstnOZ4pD39y2MeQEw=

  - option_name: USE_REQUEST_LOGGER
    value: false

  - option_name: REDIS_ENABLED
    value: true

  - option_name: REDIS_HOST
    value: klsg-production.f0rbxi.0001.apse1.cache.amazonaws.com

  - option_name: KLSG_ASSET_EXPIRE_S
    value: 60

  - option_name: KLSG_GTM_ENABLED
    value: true

  - option_name: KLSG_ROBOTS_HOSTNAME
    value: keylocation.sg

  - option_name: KLSG_MAP_TILES
    value: keylocationsg.OSMSingapore

  - option_name: CALIPER_ENABLED
    value: true

