files:
  "/etc/rsyslog.d/logentries.conf" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      $template LogentriesFormat,"260e491b-b84a-4725-a179-50d902d1a0d0 %TIMESTAMP% %HOSTNAME% %syslogtag%%msg%\n"
      *.* @@api.logentries.com:10000;LogentriesFormat
  "/etc/rsyslog.d/loggly.conf":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3536cfe1-7d1b-4986-9c42-bc8a84da7631 tag=\"TAG\"] %msg%\n"
      *.* @@logs-01.loggly.com:514;LogglyFormat
commands:
  rsyslog_restart:
    command: service rsyslog restart