.grad-bg-black {
    background-color: #000;
}
.grad-bg-light {
    background-color: #eee;
}
.grad-bg-pink {
    background-color: #E53D5E;
}
.grad-bg-yellow {
    background-color: #FBC850;
}
.grad-bg-green {
    background-color: #23AD5E;
}
.grad-bg-sky {
    background-color: #7394CC;
}
.grad-bg-lavender {
    background-color: #7E6AAD;
}
.grad-bg-purple {
    background-color: #8E336C;
}
.grad-bg-orange {
    background-color: #EEA523;
}
.grad-bg-grass {
    background-color: #95CA58;
}
.defaultbg {
    background-color: rgb(238, 238, 238);
}
.nobg {
    background:url(img/nobg.png) no-repeat center;
    /*background-size*/
    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    -o-background-size:30px 30px;
    background-size:30px 30px;
}
.thumbnail > a {
    height:40px;
    width:40px;
}
#impress .step {
    overflow: hidden;
}