.th-top {
    background: url(img/th-top.png) no-repeat center;
    /*background-size*/
    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

.th-bottom {
    background: url(img/th-bottom.png) no-repeat center;
    /*background-size*/
    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

.th-middle {
    background: url(img/th-middle.png) no-repeat center;
    /*background-size*/

    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

.th-left {
    background: url(img/th-left.png) no-repeat center;
    /*background-size*/

    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

.th-right {
    background: url(img/th-right.png) no-repeat center;
    /*background-size*/

    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

.th-full {
    background: url(img/th-full.png) no-repeat center;
    /*background-size*/

    -webkit-background-size: 70px 52px;
    -moz-background-size: 70px 52px;
    -o-background-size: 70px 52px;
    background-size: 70px 52px;
}

#themeProvider .thumbnail > a {
    height: 52px;
    width: 70px;
}

.theme-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 10%;
    background-color: rgba(0,0,0,0.5);
}

.theme-middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 35%;
    background-color: rgba(0,0,0,0.5);
}

.theme-bottom:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 10%;
    background-color: rgba(0,0,0,0.5);
}

.theme-left:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.theme-right:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.theme-full:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    background-color: rgba(0,0,0,0.5);
}
